* {box-sizing: border-box;}

.approveDiv
{
    padding: 30px 0;
}

#formTitle
{
    margin: 5px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.formColumn
{   
    margin-top: 20px;
    text-align: center;
}               

.formLine
{
    padding-top: 20px;
}

.formText
{
    vertical-align: middle;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 300px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

/*核准申請及核准紀錄按鈕*/
.approveButton
{
	  margin: 0;
}

.approveButton button
{
	  margin: auto;
  	background-color: #293F66;
  	border: 1px solid #5E86C1;
  	color: white;
  	padding: 10px 24px;
  	cursor: pointer;
  	float: left;					       /*並排按鈕*/
}

.approveButton:after, 				   /*清除浮動*/
{
	  content: "";
	  clear: both;
	  display: table;
}

.approveButton button:not(:last-child)		/*防止雙重border*/
{
	  border-right: none;
}

.approveButton button:hover
{
	  background-color: #5E86C1;
}

/*搜尋使用者名稱 */
#searchUser
{
    float: left;
	  width: 75%;
	  height: 30px;
    padding: 10px;
  	font-size: 15px;
  	border: 1px solid white; 	
  	background: #f1f1f1;
}

#searchUserButton 
{
  	float: left;
  	width: 20%;
  	height: 30px;
  	background: #483D8B;
  	color: white;
  	font-size: 15px;
    padding: 10px;
  	border: 1px solid white;
  	border-left: none; 		      /*避免雙重border*/
  	cursor: pointer;
}

#searchUserButton:hover {background: #5E86C1;}

.detail{padding: 5px;}          /*文字間格*/

.quodaChange
{
    height: 30px;
    border-radius: 5px;
}

/*核准及否決按鈕*/
.applyButton
{
    margin: 0 10px;
    width: 100px;
    height: 30px;
    background-color: #293F66;
    color: white;
    border-radius: 3px;
    transition: .5s;
}

.applyButton:hover, .page button:hover
{
    background-color: #87CEFA;
    color: #DC143C;
}

/*上一頁及下一頁按鈕*/
.page button
{
    height: 30px;
    background-color: #293F66;
    color: white;
    border-color: white;
    float: left;
}

#pre, #allApproveButton{float: left;}

#next, #allVetoButton{float: right;}

/*全部核准及全部否決*/
.allApprove
{float: right;}

.formButton
{
    margin: 0 10px;
    width: 80px;
    height: 30px;
    background-color: #293F66;
    color: white;
    border-radius: 3px;
    transition: .5s;
}

.formButton:hover
{
    background-color: #5E86C1;
}

.applyButton, .formButton, .page button
{
    border: 1px solid #5E86C1;
}

@media (min-width: 800px)
{
    .approveDiv
    {
        width: 800px;
        height: 650px;
        background-color: #293F66;
        color: white;
        margin: auto;
        border-radius: 12px;
    }
    .formLine
    {
        text-align: left;
    }
    .approveButton,  #searchUser
    {
        margin: 0 0 0 20px;
    }
    #formInformation1
    {
        border: 1px solid white;
        margin: 28px 0 0 20px;
        width: 760px;
        height: 200px;
    }
    #formInformation2
    {
        border: 1px solid white;
        margin: 0 0 0 20px;
        width: 760px;
        height: 200px;
    }
    /*div三欄式排版*/
    .Information1
    {
        width: 165px;
        float:left;
        margin: 20px 0 0 20px;
    }
    .Information2
    {
        width: 165px;
        float: left;
        margin: 20px 0 0 10px;
    }
    .Information3
    {
        width: 165px;
        float:left;
        margin: 20px 0 0 10px;
    }
    .Information4
    {
        width: 165px;
        float:left;
        margin: 20px 0 0 20px;
    }
    .applyDescription
    {
        width: 120px;
        height: 120px;
        background-color: #293F66;
        color: white;
        border: 1px solid white;
    }
    .applyButton
    {
        width: 160px;
        margin: 10px 0 0 0;
    }
    .formLine1
    { 
        margin: 10px 0 0 350px;
        padding: 0 10px;
    }
    .page button
    {
        margin: 0 0 0 10px;
    }

}

@media (min-height: 580px)
{
    .approveDiv
    {
        margin-top: calc(50vh - 300px);
    }
}

@media (max-width: 599px)
{
    .approveDiv
    {
        margin: 0;
        border: 0px;
    }
    .formText
    {
        text-align: center;
    }
}