/*SA USER GM 沿用同一個忘記密碼.css*/
body
{
    position: relative;
    margin: 0;
    padding: 0;
    color: black;
}

.content
{
    margin: auto;
    margin-top: 100px;
    height: 600px;
    width: 500px;
    border: 3px solid #f1f1f1;
}

.content > h3
{
    margin-top: 50px;
    text-align: center;
}

.splitColumn
{  
    margin-top: 100px;
    text-align: center;
}

.forgetpsw
{      
    font-weight: bold;
}

#mail
{
    margin: auto;
    width: 350px;
    height: 40px;
}

#sent
{
    margin: auto;
    margin-top: 30px;
    width: 60px;
    height: 30px;
    background-color: #24478f;
    color: white;
    cursor: pointer;
}

#mail, #sent, #newpsw, #checknewpsw
{    
    text-align: center;            /*文字置中*/
    border-radius: 5px;
}

/*newpassword(新增的)外觀*/
#newpsw
{
    margin-left: 30px;
    width: 320px;
    height: 30px;
}

#checknewpsw
{
    width: 320px;
    height: 30px;
}

