/*搜尋*/
input[type="text"]
{
	padding:5px 15px; border:2px #787f86 solid;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	width: 95%;
}

/*選項選擇*/
.tabs,.tabs .tabOne
{
	list-style-type:none;
 	float:left;
}
.tabs .tabOne
{
	margin: 10px 15px 10px 0px;
}
.tabs
{
	margin-bottom: 0px;
	font-size: 20px;
	padding-left: 0px;
}
.tabOne a{
	text-decoration:none;
	color:black;
}
	
.tabOne a:hover,.tabOne a:focus
{
	color: #05439e;
	border-bottom: 2px solid #a92c07;
	padding-bottom: 2px;
}

/*表格*/
.enterID
{
	float:left ;
	width: 80%;
}
.search
{
	float: right ;
	margin-left:15%;
}
#giveTable
{
	border-top: 1.5px solid #736d6d;
	width: 80%;
	margin: auto;
	padding:10px 0px;
}
.tabsPart
{
	overflow:auto;
	margin: auto;
	width: 80%;
}

#giveTable td, #giveTable th
{
	border: 1px ridge #ddd;
	padding: 10px;
}
#giveTable td:hover
{
	background-color: #7e8b98;
}

#giveTable td 
{
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #787f86;
	color: white;
}
#giveTable tr:nth-child(1) td
{
	display: flex;
	align-items: center;
}
.introduction
{
	float: left;
	width: 95%;
}
.giveBotton
{
	float:right;
	border: 1.5px solid white;
	padding: 0.5%;
	border-radius:10px;
	text-align:center;
}
.giveBotton:hover
{
	background-color: white;
	color:#787f86;
	border: 2px solid #787f86;
}

/*配發內容*/
.nameTitle,.scoreSRTitle,.scoreSPTitle
{
	float: left;
	width: 97px;
}
.name,.scoreSR,.scoreSP
{
	float: left;
	width: 55%;
}
.total
{
	overflow: auto;
}
.title,.timeTitle
{
	width: 90px;
	float: left;
}
.context
{
	float: left;
	width: 100px;
}
.date
{
	width: 90px;
	float: left;
}
.time
{
	float: left;
	width: 20px;
}
.bodyContainer
{
	margin-top: 50px;
	position: relative;
}

/*紀錄頁面*/
@media (min-width: 610px) 
{
	.introductionLeft
	{
		float: left;
		width: 50%;
	}
	.introductionRight
	{
		float: right;
		width: 50%;
	}
	#giveTable td 
	{
		display: flex;
		align-items: center;
	} 
}

/*申請頁面*/
@media (max-width: 1150px) 
{
	.introduction
	{
		width: 85%;
	}
	.enterID
	{
		width: 70%;
	}
	.search
	{
		margin-left:15%;
	}
}

/*申請+紀錄頁面*/
@media (max-width: 300px) 
{
	.enterID
	{
		width: 8%;
	}
	.search
	{
		margin-left:45%;
	}
	.tabs .tabOne
	{
		margin-right: 10px;
	}
}
@media (max-width: 340px) 
{
	.total,.nameTitle,.name,.scoreSRTitle,.scoreSR,.scoreSPTitle,.scoreSP,.timeTitle,.context,.date,.time,.title
	{
		width:100%;
		margin-bottom: 5px;
	}

}
