@charset "utf-8";

#loginMenu
{
    display: block;
    position: relative;
    display: inline-block;
    color: white;
    margin: 0;
    padding: 15px 15px;
    line-height: 20px;
    cursor: pointer;
}

#loginMenu:hover
{
    color: #F5FFFA;
    background-color: #5E86C1;
}

.loginForm
{
    display: none;
    position: absolute;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #293f66;
    font-weight: bold;
}

.loginFont
{
    margin: 0;
    font-size: 18px;
    padding: 15px 0;
    line-height: 20px;
}

.loginInput
{
    height: 40px;
    width: 300px;
    padding: 0 5px;
    margin: 0;
    outline: none;
    border: 1px solid #CCCCCC;
    font-size: 16px;
}

#loginForgot
{
    width: 120px;
    height: 30px;
    padding: 5px 0px;
    margin: 10px 90px;
    background-color: rgba(0, 0, 0, 0);
    border: 0 none rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    transition: .5s;
}

#loginForgot:hover
{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.loginButton
{
    width: 135px;
    height: 40px;
    color: white;
    background-color: #293f66;
    outline: none;
    padding: 7.5px 50.5px;
    margin: 10px 0 0 5px;
    border: 1px solid #5e86c1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: .5s;
}

.loginButton:hover
{
    color: #f5fffa;
    background-color: #5e86c1;
}

.error
{
    top: 100%;
    padding: 5px 15px;
    color: #c62828;
    background-color: rgba(255,0,0,0.1);
    text-align: center;
    font-size: 16px;
    display: none;
}

@media (min-width: 800px)
{
    .loginForm
    {
        padding: calc(20vh - 50px) calc(50vw - 180px);
    }
    .loginFormContainer
    {
        padding: 30px;
        background-color: #E6E6FA;
        color: black;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
    }
    #loginForgot
    {
        color: black;
    }
}

@media (max-width: 799px)
{
    .loginFormContainer
    {
        padding: calc(20vh - 50px) calc(50vw - 150px);
        color: white;
    }
    #loginForgot
    {
        color: white;
    }
}