#pointTable
{
	width: 70%;
	margin:auto;
	background-color: #fbf9b2;
}
#pointTable td,#pointPart th
{
	border: 1px ridge #ddd;
}
.introduction
{
	float: left;
}
.nameTitle,.timeTitle
{
	float: left;
	width: 20%;
}
.name
{
	float: left;
	width: 80%;
}
.date
{
	float: left;
	width: 30%;
}
.time
{
	float: left;
	width: 50%;
}
.nameTitle,.timeTitle,.name,.date,.time
{
	margin-top: 1%;
	margin-bottom: 1%;
}
.point
{
	float: right;
	margin: 2.8% 1.5% 0.5% 0px;
}
.navbarPointImg
{
	margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 30px;
}
.bodyContainer
{
	margin-top: 50px;
	position: relative;
}
@media (max-width: 580px) {
.introduction
{
	width: 100%;
}
.point
{
	float: left;
}
.nameTitle,.timeTitle,.name,.date,.time
{
	width: 100%;
}
.name,.time
{
	margin-bottom: 10px;
}

