/*表格*/
#pointTable
{
	width: 70%;
	margin:auto;
	background-color: #fbf9b2;
}
#pointTable td,#pointPart th
{
	border: 1px ridge #ddd;
}
/*表格內容*/
.introduction
{
	float: left;
}
.nameTitle,.timeTitle
{
	float: left;
	width: 20%;
}
.name
{
	float: left;
	width: 80%;
}
.date
{
	float: left;
	width: 30%;
}
.time
{
	float: left;
	width: 50%;
}
.nameTitle,.timeTitle,.name,.date,.time
{
	margin-top: 1%;
	margin-bottom: 1%;
}
.point
{
	float: right;
	margin: 2.8% 1.5% 0.5% 0px;
}
.pointImg
{
	margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 30px;
}

/*頁面內文*/
.bodyContainer
{
	margin-top: 50px;
	position: relative;
}

@media (max-width: 580px) {
.introduction
{
	width: 100%;
}
.point
{
	float: left;
}
#pointTable
{
	width: 100%;
}
.nameTitle,.timeTitle
{
	float: left;
	width: 15%;
}
.name
{
	float: left;
	width: 85%;
}
.date
{
	float: left;
	width: 25%;
}
.time
{
	float: left;
	width: 60%;
}
@media (max-width: 360px) {
.nameTitle,.timeTitle
{
	float: left;
	width: 25%;
}
.name
{
	float: left;
	width: 75%;
}
.date
{
	float: left;
	width: 35%;
}
.time
{
	float: left;
	width: 40%;
}

