@charset "utf-8";

body
{
    position: relative;
    margin: 0;
    padding: 0;
    color: black;
}

.content
{
    margin: auto;
    margin-top: 100px;
    width: 1200px;
    height: 600px;   
    border: 3px solid #f1f1f1;
}

.content > h3
{
    margin: 7px 0 0 0;
    height: 0;
    text-align: center;
}

/*畫面左半部*/
.leftContent
{
    float: left;
}



#photo
{
    margin: 25px 0 0 100px; 
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.upload
{
    margin: 0 0 0 220px;
    cursor: pointer;
}

.text
{
    margin: 10px 0 0 70px;
}

.text > textarea
{
    background-color: #E6E6FA
}

/*畫面右半部*/
.rightContent
{
    margin: 50px 0 0 500px;
    width: 600px;
    height: 500px;
    border: 3px solid #f1f1f1;
}

.splitColumn
{   
    margin-top: 25px;
    text-align: center;
}

#userName, #psw, #newpsw, #checknewpsw, #mail, #tel, #birthday
{
    width: 320px;
    text-align: center;            /*文字置中*/
    vertical-align: middle;
    height: 30px;   
    border-radius: 5px;
}

#other
{
    text-align: center;            /*文字置中*/
    border-radius: 5px;
}

#psw, #newpsw
{
    margin-left: 30px;              /*框框對齊*/
}

#mail, #tel, #birthday
{
    margin-left: 13px;              /*框框對齊*/
}

#male, #female, #other
{
    margin-left: 22px;
    vertical-align: middle;           /*radio對齊*/
}

#store, #cancel
{
    margin: auto;
    width: 60px;
    height: 30px;
    background-color: #24478f;
    color: white;
}

