body
{
	position: relative;
    margin: 0;
    padding: 0;
}

.content
{
	margin: auto;
    margin-top: 100px;
    height: 600px;
    width: 1400px;
}

.content > h3
{
	margin: 0 0 10px 0;
	text-align: center;
}

/*左半部*/
.leftContent
{
	margin: 0 0 0 10PX;
	width:675px;
	line-height:70px;
	padding:0 20px;
	border: 3px solid #f1f1f1;
	float:left;
}

.leftContent > h3, .rightContent > h3					/*修改最新消息及修改介紹網站-標題*/
{
	margin: 0px auto;
	text-align: center;
}

.introduction				/*輸入網站介紹*/
{
	margin: 0;
	width: 600px;
	height: 415px;
	background-color: #E6E6FA;
}

#store
{
	margin: 0 0 0 550px;
	width: 50px;
	height: 30px;
	background-color: #24478f;
	color: white;
	border-radius: 3px;
}

/*右半部*/
.rightContent
{
	margin: 0 10px 0 0;
	width:675px;
	line-height:71px;
	padding: 0 20px;
	border: 3px solid #f1f1f1;
	float:right;
}

.block1						/*block1-新增訊息*/
{
	border: 3px solid #f1f1f1;
}

.block1 > h4
{
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 3px solid #f1f1f1;
}

.uploadpic
{
	margin: 0;
	float: left;
}

 #upload_input
{	
	position: relative;
	margin: 0 0 0 20px;
	height: 100px;
	text-align: center;
	cursor: pointer;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.inputnews		/*輸入最新消息-div-textarea*/
{
	margin: 12px;
}

.news			/*輸入最新消息-textarea*/
{
	margin: 0;
	width: 300px;
	height: 100px;
	background-color: #E6E6FA;
	float: right;
}

.editnews
{
	margin: 10px 0 10px 0;
	border: 3px solid #f1f1f1;
	overflow: auto;
}

.block2, .block3 , .block4			/*刪除最新消息*/
{
	margin: 0 0 0 10px;
	border-bottom: 3px solid #f1f1f1;
}

#edit, #delete
{
	margin: 25px 25px 0 0;
	width: 50px;
	height: 30px;
	float: right;
	background-color: #24478f;
	color: white;
	border-radius: 3px;
}
