.updateDiv
{
    padding: 30px 0;
}

#formTitle
{
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.formLine
{
    padding: 20px 0 0 30px;
}

.formText
{
    vertical-align: middle;
    padding-left: 10px;
    text-align: left;
    height: 30px;
    width: 450px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#circle1, #circle2, #circle3
{
    color: red;
}

#circle4
{
    color: lightgreen;
}

.upload_condition          /*申請條件*/
{
    width: 700px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

.upload_condition:hover
{
    opacity: 0.8;
}

#applier                  /*上傳檔案*/
{
    display: none;
    float: left;
}


#useralt                  /*PDF icon*/
{
    width: 50px;
}

.upload_icon {            /*upload icon*/
    font-weight: bold;
    position: absolute;
    float: right;
} 

/*申請類別*/
#quota
{
    border-radius: 5px;
}

/*申請週期及輸入新類別*/
.cycle, #newapply
{
    border: 1px solid #CCCCCC;
    border-radius: 5px;     
}

.formButton
{
    margin: 0px 10px;
    width: 80px;
    height: 30px;
    background-color: #293F66;
    color: white;
    border-radius: 3px;
    transition: .5s;
}

.formButton:hover
{
    background-color: #5E86C1;
}

@media (min-width: 1000px)
{
    .updateDiv
    {
        width: 1000px;
        height: 600px;       
        background-color: #293F66;
        color: white;
        margin: auto;
        border-radius: 12px;
    }
    .formColumn
    {   
        margin: 0 0 0 150px;
    }
    .formLabelDiv, .formTextDiv
    {
        display: inline-block;
    }
    .formLabelDiv
    {
        width: 70px;
        margin-left: 15px;
        text-align: right;
    }
    .formCycle
    {
        margin-left: 100px;
        padding: 5px;
    }
    #newapply, .cycle
    {
        width: 255px;
        height: 30px;
    }
    .formButtons
    {
        margin: 30px 0 0 260px;
    }
    .formButton
    {
        border: 1px solid #5E86C1;
    }
}

@media (max-width: 999px)
{
    .updateDiv
    {
        width: 500px;
        height: 600px;       
        background-color: #293F66;
        color: white;
        margin: auto;
        border-radius: 12px;        
    }
    .formColumn
    {   
        margin: 20px 0 0 30px;
    }
    .formLabelDiv
    {
        display: inline-block;
    }
    .formText
    {
        width: 250px;
    }
    #formLabelDiv
    {
        width: 70px;
        margin-left: 15px;
        text-align: right;
    }
    .formCycle
    {
        margin-left: 50px;
        padding: 5px;
    }
    #newapply
    {
        margin-left: 90px
    }
    #newapply, .cycle
    {
        width: 200px;
        height: 30px;
    }
    .formButtons
    {
        margin: 10px 0 0 120px;
    }
    .formButton
    {
        border: 1px solid #5E86C1;
    }
}

@media (min-height: 580px)
{
    .updateDiv
    {
        margin-top: calc(50vh - 300px);
    }
}

@media (max-width: 499px)
{
    .updateDiv
    {
        margin: 100px 0 0 0;
        padding: 0;
        border: 0px;
        background-color: #E6E6FA;
        color: #000000;
    }
    #formTitle
    {
        font-size: 16px;
    }
    .formColumn
    {   
        margin: 0;
    }
    .formText
    {
        text-align: center;
    }
    
    .formButtons
    {
        margin: 10px 0 0 100px;
    }
    .formButton
    {
        border: 1px solid #5E86C1;
    }

}
