<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>個人頁面</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navbarUser.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/myself.css')}}" type="text/css">
    </head>
    <body>
        <header id="userNavbar"></header>
        <div class="bodyContainer">
            <div class="myselfBackground">
                <div class="personal">
                    <div style class="picturePart"><img id="profilePicture" alt="個人照片" /></div>
                    <div class="introduce">
                        <div class="title">名稱：<span id="name"></span></div>
                        <div class="title">性別：<span id="gender"></span></div>
                        <div class="title">年齡：<span id="age"></span></div>
                        <div class="title">個人簡介：<br>
                            <textarea class="text" id="profile" cols="40" rows="3" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" tabPartMyself">
                <ul class="tabs">
                    <li id="thisPage">已發任務</li>
                    <li class="notThisPage" id="hrefMyselfSR"></li>
                    <li class="notThisPage" id="hrefMyselfSP"></li>
                </ul>
            </div>

            <div class="taskPart">
                <table id="task">
                    <tr><td>目前尚無任務</td></tr>
                </table>
            </div>
            <div class="formPage">
                <button class="pageButton" id="prePageButton" onclick="computePage(1)">上一頁</button>
                <span class="formPageNumber" id="pageNumber">1/1</span>
                <button class="pageButton" id="nextPageButton" onclick="computePage(2)">下一頁</button>
            </div>
        </div>
        <footer id="footer"></footer>
        <script src="{{url_for('static', filename='js/footer.js')}}"></script>
        <script src="{{url_for('static', filename='js/clickToSpan.js')}}"></script>
        <script src="{{url_for('static', filename='js/navbarUser.js')}}"></script>
        <script src="{{url_for('static', filename='js/myself.js')}}"></script>
        <script src="{{url_for('static', filename='js/myselfTask.js')}}"></script>
    </body>
</html>