<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>個人頁面</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navbarUser.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/myself.css')}}" type="text/css">
    </head>
    <body>
        <header id="userNavbar"></header>
        <div class="bodyContainer">
            <div class="myselfBackground">
                <div class="personal">
                    <div style class="picturePart"><img id="profilePicture" alt="個人照片" /></div>
                    <div class="introduce">
                        <div class="title">名稱：<span id="name"></span></div>
                        <div class="title">性別：<span id="gender"></span></div>
                        <div class="title">年齡：<span id="age"></span></div>
                        <div class="title">個人簡介：
                            <div class="text" id="profile"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" tabPartMyself">
                <ul class="tabs">
                    <li id="thisPage">已發任務</li>
                    <li class="notThisPage" id="hrefMyselfSR"></li>
                    <li class="notThisPage" id="hrefMyselfSP"></li>
                </ul>
            </div>

            <div class="taskPart">
                <table id="task">
                    <tr id="taskList0"><td>
                        <div>任務名稱：<span id="taskName0"></span></div>
                        <div>任務時間：<span id="taskTime0"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota0"></span></div>
                            <div class="bottonTask" onclick="takeTask(0)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList1"><td>
                        <div>任務名稱：<span id="taskName1"></span></div>
                        <div>任務時間：<span id="taskTime1"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota1"></span></div>
                            <div class="bottonTask" onclick="takeTask(1)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList2"><td>
                        <div>任務名稱：<span id="taskName2"></span></div>
                        <div>任務時間：<span id="taskTime2"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota2"></span></div>
                            <div class="bottonTask" onclick="takeTask(2)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList3"><td>
                        <div>任務名稱：<span id="taskName3"></span></div>
                        <div>任務時間：<span id="taskTime3"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota3"></span></div>
                            <div class="bottonTask" onclick="takeTask(3)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList4"><td>
                        <div>任務名稱：<span id="taskName4"></span></div>
                        <div>任務時間：<span id="taskTime4"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota4"></span></div>
                            <div class="bottonTask" onclick="takeTask(4)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList5"><td>
                        <div>任務名稱：<span id="taskName5"></span></div>
                        <div>任務時間：<span id="taskTime5"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota5"></span></div>
                            <div class="bottonTask" onclick="takeTask(5)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList6"><td>
                        <div>任務名稱：<span id="taskName6"></span></div>
                        <div>任務時間：<span id="taskTime6"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota6"></span></div>
                            <div class="bottonTask" onclick="takeTask(6)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList7"><td>
                        <div>任務名稱：<span id="taskName7"></span></div>
                        <div>任務時間：<span id="taskTime7"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota7"></span></div>
                            <div class="bottonTask" onclick="takeTask(7)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList8"><td>
                        <div>任務名稱：<span id="taskName8"></span></div>
                        <div>任務時間：<span id="taskTime8"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota8"></span></div>
                            <div class="bottonTask" onclick="takeTask(8)">接任務</div>
                        </div>
                    </td></tr>
                    <tr id="taskList9"><td>
                        <div>任務名稱：<span id="taskName9"></span></div>
                        <div>任務時間：<span id="taskTime9"></span></div>
                        <div class="taskBottom">
                            <div class="point">任務點數：<span id="taskQuota9"></span></div>
                            <div class="bottonTask" onclick="takeTask(9)">接任務</div>
                        </div>
                    </td></tr>
                </table>
            </div>
            <div class="formPage">
                <button class="pageButton" id="prePageButton" onclick="computePage(1)">上一頁</button>
                <span class="formPageNumber" id="pageNumber">1/1</span>
                <button class="pageButton" id="nextPageButton" onclick="computePage(2)">下一頁</button>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/clickToSpan.js')}}"></script>
        <script src="{{url_for('static', filename='js/navbarUser.js')}}"></script>
        <script src="{{url_for('static', filename='js/myself.js')}}"></script>
        <script src="{{url_for('static', filename='js/myselfTask.js')}}"></script>
    </body>
</html>