@charset "utf-8";

/* 新增管理員 */

.addPart
{
	overflow: auto;
	background-color: #ddd;
	border: 2px dotted white;	
	padding: 2%;
}

#password
{
	margin-left: 1vw;
	width: calc(65vw - 250px);
}

.deleteDiv
{
	margin: auto;
	width: 70%;			
	padding: 1%;
	overflow: auto;
	border: 2px solid white;
	background-color: #ddd;
}

#deleteDiv
{
	display: none;
}

#error
{
	color: red;
	text-align: center;
}

.permissionDescription
{
	font-size: 15px;
	text-align: center;
	color: #028090;
	padding-bottom: 10px;
}

/* 管理員資訊 */
.tableTitle
{
	background-color: #787f86;
	text-align: center;
}

#infoTable td, #infoTable th
{
	border: 1px ridge #ddd;
	padding: 10px;
}

#infoTable td:hover
{
	background-color: #7e8b98;
}

#infoTable td, .tableTitle
{
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #88919a;
	color: white;
}

/* 增加及刪除按鈕 */
#addNewButton, .delete, #checkPassword, .pageButton
{
	border: 2px solid white;
	text-align: center;
	border-radius:10px;
	background-color: white;
	color:#787f86;
	cursor: pointer;
}

#addNewButton:hover, .delete:hover, #checkPassword:hover, .pageButton:hover
{
	border: 2px solid #787f86;
	background-color: #787f86;
	color:white;
}

#changePageDiv
{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 660px) 
{
	/* 新增管理員 */
	.addPart
	{
		background-color: #ddd;
		width: 70%;
		margin: auto;
		margin-top: 100px;
		padding: 1%;
		overflow: auto;
		border: 2px dotted white;
	}

	/* 選擇權限 */
	.choose
	{
		margin-left: 0;
		width: 17vw;
		display: inline-block;
	}
	.choosePermissionLeft
	{
		margin: 0;
		width: 10vw;
		display: inline-block;
		text-align: right;
		padding: 2px;
	}
	.choosePermissionRight
	{
		margin-left: 5px;
		width: 5vw;
		display: inline-block;
		padding: 0;
	}
	#selectPermission
	{
		width: 8vw;
		height: 25px;
		font-size: 14px;
	}
	.idText
	{
		width: 10vw;
		height: 20px;
		overflow: auto;
	}
	
	/* 新增按鈕 */
	.addButton
	{
		margin-left: 7vw;
		display: inline-block;
		padding: 5px;
	}

	.addButton button
	{
		width: 6vw;
		height: 2vw;
	}

	/* 管理員資訊 */
	#infoTable,.tableTitle
	{
		margin: auto;
		width: 70%;
	}
	.authority
	{
		width: 12%;
		float: left;
	}
	.userName
	{
		width: 25%;
		float: left;
	}
	.email
	{
		width: 30%;
		float: left;
	}
	.phone
	{
		width: 22%;
		float: left;
	}
	.delete
	{
		width: 8%;
		float: right;
	}
}

@media(max-width: 970px)
{
	.choose
	{
		width: 100%;
	}
	.choosePermissionLeft
	{
		margin-left: 25px;
		width: 13vw;
		text-align: left;
	}
	#selectPermission, .idText
	{
		width: 40vw;
	}
	#addNewButton
	{
		margin-left: 9.5vw;
		width: 40vw;
		height: 3vw;
		display: inline-block;
	}
	.delete
	{
		width: 10vw;
		height: 3.5vw;
	}
}

@media (max-width: 659px) 
{
	.deleteDiv
	{
		width: 100%;
	}
	#password
	{
		width: calc(100vw - 300px);
	}
	.choose
	{
		width: 100%;
	}
	.choosePermissionLeft
	{
		margin-left: 10vw;
		width: 20vw;
		text-align: left;
		display: inline-block;
	}
	.choosePermissionRight
	{
		width: 20vw;
		display: inline-block;
	}
	#selectPermission, .idText
	{
		width: 40vw;
		height: 30px;
	}
	#addNewButton
	{
		margin: 3vw 0 0 15vw;
		width: 60vw;
		height: 30px;
		display: inline-block;
	}
	
	/* 管理員資訊 */
	#infoTable,.tableTitle
	{
		margin: auto;
		width: 100%;
	}
	.delete
	{
		margin-left: 75vw;
		width: 15vw;
		height: 6vw;
		padding: 1%;
	}
}

@media(max-width: 480px)
{
	.delete
	{
		margin-left: 75vw;
		width: 15vw;
		height: 8vw;
		padding: 1%;
	}
}