.bodyContain
{
	margin-top: 80px;
	min-height: calc(100vh - 80px);	
	margin-bottom: 120px;
}
#tabsFirst, #tabsSecond
{
	overflow: auto;
	margin-bottom: 10px;
}
#tabsThird
{
	overflow: auto;
}
#tabsThird ul, #tabsThird ul li
{
	list-style-type:none;
	float:left;
	padding-left: 0;
	margin: 0;
}
#tabsFirst > a, #tabsSecond > a, #tabsThird li, #employee
{
	text-align: center;
	border-radius:8px;
	background-color:#e4bca7;
	color: var(--button-background-text-color);
}
#tabsThird li
{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: var(--button-background-color);
	color: var(--button-background-text-color);

}
#tabsSecond > a:hover,#addTask:hover,#takeTask:hover, #employee:hover
{
	background-color:#c76e3d;
	cursor: pointer;
}
input[type="button"]:hover, .button:hover
{
	background-color: var(--button-hover-background-color);
	cursor: pointer;
}
#tabsThird li:hover
{
	background-color: brown;
	cursor: pointer;
}
#employee
{
	background-color: #c76e3d !important;
}
#thisPage
{
	background-color: brown !important;
}
#addTask, #takeTask
{
	float: right;
	margin-bottom: 5px;
}
#boss, #employee
{
	float: left;
}

#ePass
{
	background-color: var(--background-color);
	color:black;
	width: 100%;
}
#rating
{
	background-color: var(--background-color);
	color:black;
}
#ePass td, #ePass th,#rating
{
	border: var(--background-border);
}
#ePass td,#rating
{
	padding: 5px;
}
#rating
{
	margin: 0 1.5px;
	overflow: auto;
}
.button
{
	float: right;
	border:  var(--button-background-border);
	color:  var(--button-background-text-color);
	background-color: var(--button-background-color);
	padding: 3px;
	border-radius:5px;
	margin-left: 2px;
	width: 73px;
	text-align: center;
}
.formPage
{
    margin: auto;
    margin-top: 10px;
    width: 60vw;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pageButton
{
    margin: auto;
    height: 30px;
    color: black;
    background-color: #F4D35E;
    border-color: white;
    border: 1px solid #FAF0CA;
    padding: 5px;
    cursor: pointer;
}
.rating 
{
    font-size: 0;
    display: table;
}

.rating > label 
{
    color: white;
    float: right;
}

.rating > label:before 
{
    padding: 0;
    font-size: 24px;
    line-height: 17.45px;
    display: inline-block;
    content: "★";
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label 
{
    color: black;
}

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label 
{
    opacity: 0.5;
}
.rating
{
	float: left;
	margin-left: 5px;
}
#rateStar1
{
	float: left;
	line-height: 24.85px;
	padding-bottom: 5px;
}
#rateStar
{
	overflow: auto;
}
#commentStar2
{
	margin-top: 5px;
}
input[type="submit"]
{
    padding: 3px 5px; 
    border: var(--button-background-border);
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    cursor: pointer;
    background-color: var(--button-background-color);
    color:  var(--button-background-text-color);
    float: right;
}
@media (max-width: 599px)
{
	#tabsFirst > a, #tabsSecond > a, #tabsThird li, #employee
	{
		width: 90px;
		padding: 3px;
		margin-right: 5px;
		margin-left: 5px;
	}
	#tabsSecond > a, #tabsThird li, #employee
	{
		padding: 1px;
		width: 70px;
	}
	#tabsSecond > a
	{
		margin-left: 0;
		width: 80px;
	}
}
@media (min-width: 600px)
{
	#tabsFirst, #tabsSecond
	{
		font-size: 25px;
	}
	#tabsThird
	{
		font-size: 20px;
	}
	#tabsFirst > a, #tabsSecond > a, #tabsThird li, #employee
	{
		width: 120px;
		padding: 5px;
		margin-right: 8px;
		margin-left: 8px;
	}
	#tabsSecond > a,#tabsThird li, #employee
	{
		padding: 3px;
		width: 100px;
	}
	#tabsSecond > a, #employee
	{
		margin-left: 0;
		width: 120px;
	}
}
@media (min-width: 650px)
{
	#tabsFirst, #tabsSecond
	{
		width: 600px;
		margin: auto;
		margin-bottom: 10px;
	}
	#tabsThird, #ePass,#rating
	{
		width: 600px;
		margin: auto;
	}
}