@charset "utf-8";

/* SA/AA核准申請系統(核准系統預定頁面) */

.approveDiv
{
    background-color: var(--background-color);
    color: var(--background-text-color);
    border: var(--background-border);
    font-weight: var(--background-font-weight);
    padding: 30px 0;
}

#formTitle
{
    margin: 5px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.formColumn
{   
    margin-top: 30px;
    text-align: center;
}               

.formLine
{
    padding-top: 0;
}

.formText
{
    vertical-align: middle;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 300px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

/* 核准申請及核准紀錄按鈕 */
.approveButton
{
    margin: 0;
}

.approveButton button
{
    margin: auto;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    border-bottom: none;
    padding: 10px 24px;
    cursor: pointer;
    float: left;                            
}

/*清除浮動*/

.approveButton:after
{
    content: "";
    clear: both;
    display: table;
}

.approveButton button:not(:last-child)      /* 防止雙重border */
{
    border-right: none;
}

.approveButton button:hover
{
    background-color: var(--button-hover-background-color);
    color: white;
}

.approveButton > button
{
    background-color: var(--button-hover-background-color);
}

/* 搜尋使用者名稱 */
#searchUser
{
    float: left;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    background: var(--background-color);
    border: var(--button-background-border);    
}

#searchUserButton 
{
    float: left;
    height: 30px;
    background: var(--button-background-color);
    color: white;
    font-size: 15px;
    padding: 0;
    border: var(--button-background-border);
    border-left: none;                     /* 避免雙重border */
    cursor: pointer;
}

#searchUserButton:hover 
{
    background: var(--button-hover-background-color);
}

#formInformation1, #formInformation2
{
    border: var(--button-background-border);
    border-top: none;       
}

/* 申請內容的文字間格 */
.detail
{
    padding: 5px;
}              

.applyDescription
{      
    border: 1px solid #CCCCCC;
    resize: none;
    background-color: var(--background-color);
}

.quodaChange
{
    height: 30px;
    border-radius: 5px;
}

/* 核准及否決按鈕 */
.applyButton
{
    margin: 0 10px;
    width: 80px;
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    border-radius: 3px;
    transition: .5s;
}

.applyButton:hover, .page button:hover
{
    background-color: var(--button-hover-background-color);
    color: white;
    cursor: pointer;
}

/* 上一頁及下一頁按鈕 */
.page
{
    float: left;
    display: flex;
    justify-content: space-between;
}

.page button
{
    margin: 0px 5px 5px 5px;
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    float: left;
}

.pageNumber
{
    margin: 0 10px;
}

/* 全部核准及全部否決的按鈕 */

.allApprove
{
    float: right;
}

.allApprove button
{
    margin: 0px 0px 5px 0px;
}

#allApproveButton
{
    float: left;
}

#allVetoButton
{
    float: right;
}

.formButton
{
    margin: 0 10px;
    width: 80px;
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
}

.formButton:hover
{
    background-color: var(--button-hover-background-color);
    color: white;
}

@media (min-width: 800px)
{
    body
    {
        margin-top: 80px;
    }
    .approveDiv
    {
        width: 800px;
        height: 660px;
        margin: auto;
        border-radius: 12px;
    }
    .formLine
    {
        text-align: left;
    }
    .approveButton,  #searchUser
    {
        margin: 0 0 0 20px;
    }
    #searchUser
    {
        width: 75%;
    }
    #searchUserButton 
    {
        width: 20.3%;
    }

    /* 申請內容-四欄式排版的外框架 */
    #formInformation1
    {
        margin: 0 0 0 20px;
        width: 760px;
        height: 250px;
    }
    #formInformation2
    {
        margin: 0 0 0 20px;
        width: 760px;
        height: 230px;
    }

    /* 申請內容-四欄式排版 */
    .Information1
    {
        width: 165px;
        float:left;
        margin: 20px 0 0 20px;
    }
    .Information2
    {
        width: 255px;
        float: left;
        margin: 20px 0 0 10px;
    }
    .Information3
    {
        width: 135px;
        float:left;
        margin: 20px 0 0 10px;
    }
    .Information4
    {
        width: 115px;
        float:left;
        margin: 20px 0 0 20px;
    }

    /* 申請原因的外框大小 */
    #applyReason0
    {
        margin-top: 40px;
    }
    .applyDescription
    {
        width: 100px;
        height: 50px;
        background-color: var(--background-color);
        color: var(--background-text-color);
        border: 1px solid #CCCCCC;
        overflow: auto;
    }
    .applyButton
    {
        width: 120px;
        margin: 10px 0 0 0;
    }

    /* 上下一頁及全部核准按鈕的排版 */

    .formLine1
    { 
        margin: 10px 0 0 310px;
        padding: 0 10px;
    }

    /* 上下一頁按鈕 */
    .page button
    {
        margin: 0 0 0 10px;
    }

}

@media (min-height: 580px)
{
    .approveDiv
    {
        margin-top: calc(50vh - 350px);
    }
}

@media (max-width: 799px)
{
    body
    {
        margin-top: 50px;
        height: 100%;
        background-color: var(--background-color);
    }
    .approveDiv
    {
        margin: 0;
        height: 100%;
        border: 0px;
    }
     #searchUser
    {
        width: 75%;
    }
    #searchUserButton 
    {
        width: 25%;
    }
    .formText
    {
        text-align: center;
    }
    .detail
    {
        text-align: left;
    }
    .applyDescription
    {
        width: 80%;
        vertical-align: middle;
    }
    #detail1
    {
    	text-align: right;
    }
    .formLine1
    {
    	margin-top: 10px;
    }
    .page
    {
    	margin-left: 10px
    }
}

@media (max-width: 435px)
{
    .approveDiv
    {
        height: 1060px;
    }
}

@media (max-width: 433px)
{
    .approveDiv
    {
        height: 1090px;
    }
}

@media (max-width: 388px)
{
    .approveDiv
    {
        height: 1160px;
    }
    .page, .allApprove
    {
        width: 100%;
    }
    .page
    {
        margin-left: 0;
    }
    .allApprove button
    {
        margin: 0;
    }
    .formButton
    {
        width: 100%;
    }
    #allApproveButton, #allVetoButton
    {
        margin: 1px 0;
    }
}
.quodaChange
{
    width: 55px;
}
