@charset "utf-8";

/* SA/AA核准紀錄 */

.approveDiv
{
    background-color: var(--background-color);
    color: var(--background-text-color);  
    border: var(--background-border);
    font-weight: var(--background-font-weight);    
    padding: 30px 0;
}

#formTitle
{
    margin: 5px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.formColumn
{   
    margin-top: 30px;
    text-align: center;
}               

.formLine
{
    margin: 0;
    padding-top: 0px;
}

.formText
{
    width: 300px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

/* 核准申請及核准紀錄按鈕 */
.approveButton
{
    margin: 0;
}

.approveButton button
{
    margin: auto;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    border-bottom: none;
    padding: 10px 24px;
    cursor: pointer;
    float: left;                            
}

/* 清除浮動 */
.approveButton:after
{
    content: "";
    clear: both;
    display: table;
}

.approveButton button:not(:last-child)      /* 防止雙重border */
{
    border-right: none;
}

.approveButton button:hover
{
    background-color: var(--button-hover-background-color);
    color: white;
}

.approveButton > button
{
    background-color: var(--button-hover-background-color);
}

/* 搜尋:使用者名稱、申請類別、申請週期、申請結果 */
#searchUser, #searchClass, #searchPeriod, #searchResult
{
    height: 30px;
    padding: 0 10px;
    background: var(--background-color);
    border: var(--button-background-border);   
}

#searchClass, #searchPeriod, #searchResult
{
    cursor: pointer;
}

#searchUserButton 
{
    height: 30px;
    background: var(--button-background-color);
    border: var(--button-background-border);
    font-size: 15px;
    padding: 0;  
    cursor: pointer;
}

#searchUserButton:hover 
{
    background: var(--button-hover-background-color);
}

#formInformation1, #formInformation2
{
    border: var(--button-background-border);
}

.applyDescription
{
    border: 1px solid #CCCCCC;
	background-color: var(--background-color);
    resize: none;
}

/* 申請內容的文字間格 */
.detail
{
    padding: 5px;
}    

/* 上一頁及下一頁按鈕 */   
.page
{
	display: flex;
    justify-content: space-between;
}

.page button
{
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    float: left;
}

.page button:hover
{
    background-color: var(--button-hover-background-color);
    color: white;
    cursor: pointer;
}

.applyButton, .page button
{
    border: var(--button-background-border);
    cursor: pointer;
}

@media (min-width: 800px)
{
    body
    {
        margin-top: 70px;
    }
    .approveDiv
    {
        margin: auto;
        width: 800px;
        height: 660px;
        border-radius: 12px;
    }
    .formLine
    {
        text-align: left;
    }
    .approveButton
    {
        margin: 0 0 0 20px;
    }

    /* 搜尋-四欄式排版 */
    #search
    {
        margin: 0px 0 0 20px;
        width: 760px;
        height: 10px;
    }

    /* 搜尋-使用者名稱、申請類別、申請週期、申請結果的外框排版 */
    .formSearchUser, .formSearchCategory, .formSearchCycle, .formSearchResult, .formSearchButton
    {
        float:left;
        margin: 0;
    }
   
    #searchUser, #searchClass, #searchPeriod, #searchResult
    {
        width: 170px;
        border-right: none;     
    }

    #searchUserButton
    {
        width: 80px;
        border-left: none;                    /* 避免雙重border */

    }

    /* 申請內容-四欄式排版的外框架 */
    #formInformation1
    {
        width: 760px;
        height: 250px;
        border-top: none;
        margin: 0 0 0 20px;
    }
    #formInformation2
    {
        width: 760px;
        height: 230px;
        border-top: none;
        margin: 0 0 0 20px;
    }

    /* 申請內容-四欄式排版 */
    .Information1
    {
        width: 165px;
        float:left;
        margin: 20px 0 0 20px;
    }
    .Information2
    {
        width: 235px;
        float: left;
        margin: 20px 0 0 10px;
    }
    .Information3
    {
        width: 135px;
        float:left;
        margin: 20px 0 0 10px;
    }
    .Information4
    {
        width: 125px;
        float:left;
        margin: 20px 0 0 20px;
    }
    #applyReason0
    {
        margin-top: 40px;
    }
    .applyDescription
    {
        width: 100px;
        height: 50px;
        background-color: var(--background-color);
        color: white;
        border: 1px solid #CCCCCC;
    }
    .applyButton
    {
        width: 160px;
        margin: 0;
    }
    .formLine1
    { 
        margin: 3px 200px;
        padding: 0 10px;
    }
    .page button
    {
        margin: 0 0 0 3px;
    }

}

@media (min-height: 580px)
{
    .approveDiv
    {
        margin-top: calc(50vh - 350px);
    }
}

@media (max-width: 799px)
{
    body
    {
        margin-top: 50px;
    }
    .approveDiv
    {
        margin: 0;
        border: 0px;
    }
    .formText
    {
        text-align: center;
        margin: 0px 0 0 20px;
        width: 760px;
        height: 10px;
    }

    /* 搜尋-使用者名稱、申請類別、申請週期、申請結果的外框排版 */
    #searchUser, #searchClass, #searchPeriod, #searchResult, #searchUserButton
    {
        width: 100%;
        border-bottom: none;
    }
    .formText
    {
        text-align: center;
    }
    #formInformation1
    {
        border-bottom: none;
    }
    .detail
    {
        text-align: left;
    }
    .applyDescription
    {
        width: 80%;
        vertical-align: middle;
    }
    #detail1
    {
        text-align: right;
    }
    .formLine1
    {
        margin-top: 10px;
    }
    .page
    {
        margin: 0 10vw;
    }
}