@charset "utf-8";

/* User行事曆介面 */

ul{list-style-type: none;}

.formLeftBody
{
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    word-break: normal;
}

.formRightBody
{
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    word-break: normal;
    height: 500px;
    padding: 20px;
    background-color: #ebbab9;
    overflow: auto;
}


/*month-div*/
.formTopCalendar
{
    width: 100%;
    background-color: #87CEEB;
    text-align: center;
    padding: 64px 25px 65px;
}

/*month-ul*/
.formMonthLine
{
    margin: 0;
    padding: 0;
}

/*month-li*/
.formMonth
{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    cursor: default;
}

#preMonth
{
    float: left;
    padding: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#nextMonth
{
    float: right;
    padding: 14px 11px 14px 17px;
    cursor: pointer;
    border-radius: 5px;
}

#preMonth:hover, #nextMonth:hover
{
    background-color: rgba(9,9,9,5);
}

.formWeekLine
{
    margin: 0;
    height: 50px;
    padding: 10px 0;
    background-color: #FFE4B5;
    cursor: default;
}

.formWeekDay
{
    width: 14.28%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #999999;
}

.formDayLine
{
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.formDay
{
    width: 14.28%; /* 100/7 = 14.28 */
    text-align: center;
    vertical-align: middle;
    color: #777;
    display: inline-block;
}

.formDay:hover
{
    color: white;
    background: #6495ED;
    border-radius: 5px;
    cursor: pointer;
}

.formToDoList
{
    color: white;
    text-align: center;
    margin: 80px 0;
    overflow: auto;
}

.formText
{
    background-color: #ebbab9;
    border: 1px solid white;
    overflow: auto;
    resize: none;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    cursor: default;
}

.formTextTitle
{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    border: none;
}

@media(min-width: 1200px)
{
    .scheduleDiv
    {
        margin-top: calc(10vh);
        margin-bottom: calc(5vh);
        margin-left: 15%;
        width: 70%;
    }
    .formLeftBody
    {
        width: 75%;
        height: 80vh;
    }
    .formDayLine
    {
        height: calc(80vh - 235px);
    }
    .formDay
    {
        padding: calc(8vh - 35px) 0;
        height: calc(16vh - 47px);
        font-size: 20px;
    }
    .formRightBody
    {
        width: 25%;
        height: 80vh;
    }
    .formLine
    {
        height: 130px;
    }
    .formText
    {
        height: 150px;
        font-size: 18px;
    }
}

@media(max-width: 1199px)
{
    .scheduleDiv
    {
        margin-top: calc(10vh);
        margin-left: calc(50vw - 450px);
        width: 900px;
    }
    .formLeftBody
    {
        width: 75%;
    }
    .formDayLine
    {
        height: 350px;
    }
    .formDay
    {
        padding: 24px 0;
        height: 70px;
    }
    .formRightBody
    {
        width: 25%;
        height: 585px;
    }
    .formLine
    {
        height: 80px;
    }
    .formText
    {
        height: 150px;
    }
}

@media(max-width: 899px)
{
    .scheduleDiv
    {
        margin: calc(50vh - 300px) 0 calc(5vh) 0;
    }
    .scheduleDiv
    {
        width: 100vw;
    }
    .formLeftBody
    {
        width: calc(100vw - 250px);
        margin: 0;
    }
    .formRightBody
    {
        width: 250px;
        height: 585px;
    }
    .formLine
    {
        height: 80px;
    }
    .formText
    {
        height: 150px;
    }
}

@media(max-width: 650px)
{
    .scheduleDiv
    {
        margin-bottom: calc(5vh);
    }
    .formLeftBody, .formRightBody
    {
        margin: 0;
        width: 100%;
    }
    .formRightBody
    {
        margin-top: 0;
        height: 300px;
    }
    .formTopCalendar
    {
        padding: 20px 25px;
    }
    .formDayLine
    {
        width: 100%;
    }
    .formText
    {
        margin: auto;
        width: 93%;
        height: 150px;
    }
    .formToDoList
    {
        margin: 10px 0 50px;
    }
    #footer
    {
        width: 100%;
    }
}

@media(max-height: 585px)
{
    .scheduleDiv
    {
        margin-top: 0;
    }
    .formTopCalendar
    {
        padding: 0;
    }
    #month, #year
    {
        display: inline-block;
        margin: 13px 0;
    }
    #preMonth, #nextMonth
    {
        padding: 13px 20px;
    }
    .formWeekLine
    {
        height: 36px;
        padding: 7px 0;
    }
    .formDayLine
    {
        height: calc(100vh - 140px);
        padding: 0;
    }
    .formDay
    {
        padding: calc(10vh - 25px) 0;
        height: calc(20vh - 28px);
    }
    .formRightBody
    {
        height: calc(100vh - 50px);
    }
    .formToDoList
    {
        margin: 10px 0 30px;
    }
}