@charset "utf-8";

/* 所有網頁的css基礎架構 */

:root
{
    --background-color: #FFE3CE;
    --background-text-color: black;
    --background-border: 1.5px solid brown;
    --background-font-weight: bold;
    --button-background-color: #e4b369;
    --button-background-text-color: white;
    --button-background-border: 1.5px solid #ca9174;
    --button-hover-background-color: #cf7f07;
}

* { box-sizing: border-box; }

@font-face
{
    font-family: custom-serif;
    src: local("STHeiti"), local("Microsoft JhengHei"), local("PMingLiU");
    unicode-range: U+4E00-9FFF;
}

@font-face
{
    font-family: custom-serif;
    src: local("Comic Sans MS"), local("Times New Roman");
    unicode-range: U+00-024F;
}

body
{
    font-family: custom-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #323232;
    background-color: #E6E6FA;
    margin: 0;
    display: block;
}

input:focus
{
    outline: none;
}

a
{
    color: #a23400;
    text-decoration: none; 
    background-color: transparent;
}

div
{
    display: block;
}

ul
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

img
{
    max-width: 100vw;
}

button
{
    cursor: pointer;
}

::after, ::before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bodyContainer
{
    margin: 50px 0 0;
}

.nav
{
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.nav > li > a
{
    position: relative;
    display: inline-block;
    padding: 15px;
}

.navbarBack
{
    font-size: 16px;
    line-height: 1.4;
    background-color: #293F66;
    border-color: #AAAAAA;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}

.navbarContainer
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.navbarLeft
{
    display: flex;
    margin-left: -15px;
    min-width: calc(50vw - 81px);
}

.navbarCenter
{
    display: flex;
}

.navbarRight
{
    display: flex;
    margin-right: -15px;
    min-width: calc(50vw - 81px);
}

.navbarBrand
{
    color: #777777;
    /*width: 162px;*/
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.navbarBrandImg
{
    height: 40px;
}

#navbarBrandImg2
{
    display: none;
}

.navbarBrand:hover #navbarBrandImg1
{
    display: none;
}

.navbarBrand:hover #navbarBrandImg2
{
    display: block;
}

.navbarLeft > .navbarUl
{
    margin: 0;
    display: block;
}

.navbarRight > .navbarUl
{
    margin: 0 0 0 auto;
    display: block;
}

.navbarUl > li > a
{
    color: white;
    line-height: 20px;
}

.navbarUl > li > a:hover
{
    color: #F5FFFA;
    background-color: #5E86C1;
}

.dropdown
{
    position: relative;
}

.dropdownMenu
{
    top: 100%;
    display: none;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
    list-style: none;
}

.dropdownMenu > li > a
{
    display: block;
    clear: both;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
}

.dropdownMenuLeft
{
    left: 0;
}

.dropdownMenuRight
{
    right: 0;
}

#bodyDiv
{
    padding: 0;
    margin-top: 50px;
}

@media (min-width: 800px)
{
    .navbarUl > li
    {
        float: left;
    }
    .dropdownMenu
    {
        position: absolute;
        min-width: 300px;
        padding: 0;
        margin: 0;
        background-color: #F5FFFA;
        background-clip: padding-box;
        border: 1px solid #CCCCCC;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    /*.dropdown:hover .dropdownMenu
    {
        display: block;
    }*/
    .dropdownMenu > li:hover
    {
        background-color: #ADC6EC;
    }
    .hiddenLarge
    {
        display: none;
    }
}

@media (max-width: 799px)
{
    .navbarUl
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    .dropdownMenu
    {
        position: absolute;
        min-width: 100vw;
        min-height: 100vh;
        padding: 0;
        margin: 0;
    }
    .dropdownMenu > li:hover
    {
        background-color: #5E86C1;
    }
    .hiddenSmall
    {
        display: none;
    }
}