@charset "utf-8";

/* 主動配發介面 */


#searchPart
{
    width: 90%;
}
/*搜尋*/
input[type="text"]
{
    padding:5px 15px; 
    border:var(--button-background-border);
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 95%;
}
input[type="text"]:hover
{
    cursor: auto;
}
input[type="submit"]
{ 
    -webkit-border-radius: 5px; 
    width: 90px;
    background: var(--button-background-color);
    color: var(--button-background-text-color);
    font-size: 14px;
    cursor: pointer;
    float: right;
    border:var(--button-background-border);
    padding: 8px;
    border-radius:10px;
    text-align:center;
    cursor: pointer;
}

/*選項選擇*/
.tabs,.tabs .tabOne
{
    list-style-type:none;
    float:left;
}
.tabs .tabOne
{
    margin: 10px 15px 8px 0;
}
.tabs
{
    margin-bottom: 0;
    font-size: 25px;
    padding-left: 0;
}
.tabOne a
{
    text-decoration:none;
    color: #e4b369;
    padding: 4px 8px;
}
    
.tabOne a:hover,.thisPage a
{
    color: orange !important;
    border-bottom: 2px solid #F4D35E !important;
    padding-bottom: 4px !important;
}
/*表格*/
.enterName
{
    float:left ;
    width: 69.5%;
}
.search
{
    float: right ;
}
#searchImg
{
    width: 45px;
    float: left;
}
#giveTable
{
    border-top: 1.5px solid brown;
    width: 80%;
    margin: auto;
    padding:10px 0;
}
.tabsPart
{
    overflow:auto;
    margin: auto;
    width: 80%;
}

/*配發介面表格*/
#giveTable
{
   color: var(--background-text-color);
}
#giveTable td, #giveTable th
{
    border: var(--background-border);
    padding: 10px;
}
#giveTable td 
{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var( --background-color);
}
#giveTable tr:nth-child(1) td
{
    display: flex;
    align-items: center;
}
.introduction
{
    float: left;
    width: 90%;
}
.giveBotton
{
    background: var(--button-background-color);
    color: var(--button-background-text-color);
    width: 90px;
    float:right;
    border: var(--button-background-border);
    padding: 8px;
    border-radius:10px;
    text-align:center;
    cursor: pointer;
}

.giveBotton:hover,input[type="submit"]:hover
{
    background-color: var(--button-hover-background-color);
}

/*配發+紀錄內容*/
.title1
{
    float: left;
    width: 97px;
}
.word
{
    float: left;
    width: 55%;
}
.total
{
    overflow: auto;
}
.title,.timeTitle
{
    width: 90px;
    float: left;
}
.context
{
    float: left;
    width: 100px;
}
.date
{
    width: 90px;
    float: left;
    margin-right:5px;
}
.time
{
    float: left;
}
.title2
{
    float: left;
    width: 85px;
}
.title3
{
    float: left;
    width: 100px;
    margin-left: -5px;
    margin-right: 20px;
}
.part1
{
    overflow: auto;
    margin: 5px 0;
}
/* 上下一頁 */
.formPage
{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80vw;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.pageButton
{
    margin: auto;
    height: 30px;
    color: black;
    background-color: #F4D35E;
    border-color: white;
    border: 1px solid #FAF0CA;
    padding: 5px;
    cursor: pointer;
}

/*紀錄頁面*/
@media (min-width: 610px) 
{
    .introductionLeft
    {
        float: left;
        width: 50%;
    }
    .introductionRight
    {
        float: right;
        width: 50%;
    }
    #giveTable td 
    {
        display: flex;
        align-items: center;
    } 
}
@media(min-width: 930px)
{
    .part1
    {
        float: left;
        overflow: auto;
    }
    .title2
    {
        float: left;
        width: 85px;
    }
    .title3
    {
        float: left;
        width: 100px;
        margin-left: -5px;
        margin-right: 20px;
    }
}
/*申請頁面*/
@media (max-width: 1150px) 
{
    .introduction
    {
        width: 90%;
    }
    .enterName
    {
        width: 65%;
    }
    input[type="text"]
    {
        width: 85%;
    }
}
@media (max-width: 800px) 
{
    .introduction
    {
        width: 90%;
    }
    input[type="text"]
    {
        width: 75%;
    }
    #searchType
    {
        margin-right: 15px;
        font-size: 15px;
    }
}

@media (max-width: 540px) 
{
    #searchType
    {
        display: none;
    }
}
  
/*申請+紀錄頁面*/
@media (max-width: 400px) 
{
    #giveTable
    {
        width: 100%;
        margin: none;
    }
    .tabs
    {
        width: 100%;
        font-size: 20px;
    }
    .tabs .tabOne
    {
        margin: 10px 0;
        width: 50%;
        text-align:center;
    }
    .tabsPart
    {
        width: 100%;
    }
    #tabTwo
    {
        float: right;
    }
}
@media (max-width: 280px) 
{
    .total,.title1,.word,.timeTitle,.context,.date,.time,.title
    {
        width:100%;
        margin-bottom: 5px;
    }
    .enterName
    {
        width: 30%;
    }
    .tabs .tabOne
    {
        margin-right: 10px;
    }
}