@charset "utf-8";

/* 主動配發介面 */


#searchType
{
    margin-right: 15px;
    font-size: 20px;
}
/*搜尋*/
input[type="text"]
{
    padding:5px 15px; 
    border:2px #787f86 solid;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 95%;
}
input[type="submit"]
{
    padding:5px; 
    border:2px #787f86 solid;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

/*選項選擇*/
.tabs,.tabs .tabOne
{
    list-style-type:none;
    float:left;
}
.tabs .tabOne
{
    margin: 10px 15px 8px 0;
}
.tabs
{
    margin-bottom: 0;
    font-size: 25px;
    padding-left: 0;
}
.tabOne a
{
    text-decoration:none;
    color:black;
    padding: 6px 8px;
}
    
.tabOne a:hover,.thisPage
{
    color: #05439e;
    border-bottom: 2px solid #818C9F;
    padding-bottom: 6px;
}

/*表格*/
.enterName
{
    float:left ;
    width: 70%;
}
.search
{
    float: right ;
    margin-left: 5%;
}
#searchImg
{
    width: 45px;
}
#giveTable
{
    border-top: 1.5px solid #736d6d;
    width: 80%;
    margin: auto;
    padding:10px 0;
}
.tabsPart
{
    overflow:auto;
    margin: auto;
    width: 80%;
}

/*配發介面表格*/
#giveTable td, #giveTable th
{
    border: 1px ridge #ddd;
    padding: 10px;
}
#giveTable td 
{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #787f86;
    color: white;
}
#giveTable tr:nth-child(1) td
{
    display: flex;
    align-items: center;
}
.introduction
{
    float: left;
    width: 95%;
}
.giveBotton
{
    float:right;
    border: 1.5px solid white;
    padding: 0.5%;
    border-radius:10px;
    text-align:center;
    cursor: pointer;
}
.giveBotton:hover
{
    background-color: white;
    color:#787f86;
    border: 2px solid #787f86;
}

/*配發+紀錄內容*/
.title1
{
    float: left;
    width: 97px;
}
.word
{
    float: left;
    width: 55%;
}
.total
{
    overflow: auto;
}
.title,.timeTitle
{
    width: 90px;
    float: left;
}
.context
{
    float: left;
    width: 100px;
}
.date
{
    width: 90px;
    float: left;
}
.time
{
    float: left;
    width: 20px;
}
/* 上下一頁 */
.formPage
{

    margin-top: 10px;
    margin: auto;
    width: 80vw;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.pageButton
{
    margin: auto;
    height: 30px;
    color: black;
    background-color: #ADADC1;
    border-color: white;
    border: 1px solid #8E9AAF;
    padding: 5px;
    cursor: pointer;
}

/*紀錄頁面*/
@media (min-width: 610px) 
{
    .introductionLeft
    {
        float: left;
        width: 50%;
    }
    .introductionRight
    {
        float: right;
        width: 50%;
    }
    #giveTable td 
    {
        display: flex;
        align-items: center;
    } 
}

/*申請頁面*/
@media (max-width: 1150px) 
{
    .introduction
    {
        width: 93%;
    }
    .enterName
    {
        width: 65%;
    }
    input[type="text"]
    {
        width: 85%;
    }
}
@media (max-width: 800px) 
{
    .introduction
    {
        width: 90%;
    }
    input[type="text"]
    {
        width: 75%;
    }
    input[type="submit"]
    {
        width: 55px;
    }
    #searchType
    {
        margin-right: 15px;
        font-size: 15px;
    }
}

/*申請+紀錄頁面*/
@media (max-width: 400px) 
{
    #giveTable
    {
        width: 100%;
        margin: none;
    }
    .tabs
    {
        width: 100%;
        font-size: 20px;
    }
    .tabs .tabOne
    {
        margin: 10px 0px;
        width: 50%;
        text-align:center;
    }
    .tabsPart
    {
        width: 100%;
    }
    #tabTwo
    {
        float: right;
    }
    input[type="submit"]
    {
        width: 40px;
    }
}
@media (max-width: 280px) 
{
    .total,.title1,.word,.timeTitle,.context,.date,.time,.title
    {
        width:100%;
        margin-bottom: 5px;
    }
    .enterName
    {
        width: 30%;
    }
    .search
    {
        margin-left:45%;
    }
    .tabs .tabOne
    {
        margin-right: 10px;
    }
}
