@charset "utf-8";

/* SA/AG管理GM的介面 */

/*新增評論管理員*/
#addTable
{
    background-color: #7693c7;
    color: white;
}
#addTable td, #addTable th
{
    border: 1px ridge #ddd;
    padding: 10px;
}
#addTable tr:nth-child(1)
{
    text-align: center;
}
.enterEmail
{
    float: left;
    width: 85%;
}
.addButton
{
    float:right;
    border: 1.5px solid white;
    padding: 1.5px;
    border-radius: 8px;
}
.addButton:hover
{
    background: white;
    color: #93acd8;
}

/*頁面轉換按鈕*/
.tabsPart
{
    overflow: auto;
}
.tabs
{
    padding-left: 0px;
    margin-bottom: 0px;
}
.tabOne
{
    background-color: #93acd8;
    padding: 3px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border: 1px solid white;
    color: white;
    
}
.tabOneA
{
    text-decoration: none;
}
.tabOneA:focus
{
    color: black;
}
.tabOne:hover
{
    background-color: white;
}
.tabs, .tabs .tabOne
{
    list-style-type: none;
    float:left;
}
.currentTabOne
{
    background-color: white;
}

/*資訊表格*/
#applicantTable td, #applicantTable th
{
    padding: 10px;
    background-color: #93acd8;
}
#applicantTable
{
    background-color: white;
}
.agree, .reject, .delete
{
    float: left;
    border: 1.5px solid white;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}
.pageButton
{
    border: 1.5px solid white;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}
.agree:hover, .reject:hover, .delete:hover, .pageButton:hover
{
    background: white;
    color: #93acd8;
    cursor: pointer;
}
#addTable,#applicantTable, .tabsPart
{
    width: 80%;
    margin: auto;
}
.bodyContainer
{
    margin-top: 50px;
    position: relative;
}

/*RWD*/
@media (max-width: 400px)
{
    /*內容寬度*/
    #addTable,#applicantTable, .tabsPart
    {
        width: 100%;
        margin: auto;
    }
}
@media (max-width: 799px) 
{
    /*新增評論管理員*/
    #addTable td, #addTable th
    {
        border: 1px ridge #ddd;
        padding: 5px;
    }
    #addTable td:nth-child(1)
    {
        text-align: center;
    }
    .enterEmail
    {
        margin-top: 2.5px;
    }

    /*資訊表格*/
    .managerName, .phone, .email, .button
    {
        margin-bottom: 5px;
    }
    .agree, .reject, .addButton, .delete
    {
        padding: 4px;
        margin-right: 5px;
    }

}
@media (min-width: 800px) 
{
    /*新增評論管理員*/
    .enterEmail
    {
        margin-top: 3px;
    }
    #newEmail
    {
        width: calc(80vw - 300px);
    }
    #deletePassword
    {
        width: calc(80vw - 300px);
    }

    /*頁面轉換按鈕*/
    .tabs
    {
        width: 50%;
    }
    .tabOne
    {
        width: 100px;
        text-align: center;
    }

    /*資訊表格*/
    .managerName, .phone, .email
    {
        margin-top: 4.5px;
        float: left;
    }
    .button
    {
        float: right;
        width: 20%;
    }
    .managerName
    {
        width: 17.5%;
    }
    .phone
    {
        width: 22.5%;
    }
    .email
    {
        width: 40%;
    }
    .agree, .reject, .addButton, .delete
    {
        padding: 4px;
        margin-right: 10px;
        float:right; 
    }

}

#newEmail, #deletePassword
{
    height: 24px;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 5px;
}

.pageTr
{
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#checkPassword
{
    display: none;
    margin-top: 10px;
}