@charset "utf-8";

/* SA/AG管理GM的介面 */

/*新增評論管理員*/
#addTable
{
    background-color: var(--background-color);
    color: var(--background-text-color);
}
#addTable td, #addTable th
{
    border: var(--background-border);
    padding: 10px;
}
#addTable tr:nth-child(1)
{
    text-align: center;
}

/*頁面轉換按鈕*/
.tabsPart
{
    overflow: auto;
}
.tabs
{
    padding-left: 0px;
    margin-bottom: 0px;
}
.tabOne
{
    background-color: var(--button-background-color);
    padding: 5px 2px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color: var(--button-background-text-color);
    width: 120px;
    text-align: center;
    font-size: 20px;
}
.tabOne a
{
    color: white;
}
.tabOneA
{
    text-decoration: none;
}
.tabOneA:focus
{
    color: black;
}
.tabOne:hover
{
    background-color: var(--button-hover-background-color);
}
.tabs, .tabs .tabOne
{
    list-style-type: none;
    float:left;
}
.currentTabOne
{
    background-color: var(--button-hover-background-color);
}

/*資訊表格*/
#applicantTable td, #applicantTable th
{
    padding: 10px;
    background-color: var(--background-color);
}
#applicantTable
{
    background-color: brown;
}
.agree, .reject, .delete,.addButton
{
    width: 60px;
    border:var(--button-background-border);
    border-radius: 8px;
    color: var(--button-background-text-color);
    background-color: var(--button-background-color);
    font-size: 16px;
    text-align: center;
}
.pageButton
{
    border: var(--button-background-border);
    border-radius: 8px;
    color: var(--button-background-text-color);
    background-color: var(--button-background-color);
    font-size: 16px;
}
.agree:hover, .reject:hover, .delete:hover, .pageButton:hover, .addButton:hover
{
    background: var(--button-hover-background-color);
    cursor: pointer;
}
#addTable,#applicantTable, .tabsPart
{
    width: 80%;
    margin: auto;
}
.bodyContainer
{
    margin-top: 50px;
    position: relative;
}

/*RWD*/
@media (max-width: 400px)
{
    /*內容寬度*/
    #addTable,#applicantTable, .tabsPart
    {
        width: 100%;
        margin: auto;
    }
    .addBotton
    {
        margin: auto;
    }
}
@media (max-width: 799px) 
{
    /*新增評論管理員*/
    #addTable td, #addTable th
    {
        border: 1px ridge #ddd;
        padding: 5px;
    }
    #addTable td:nth-child(1)
    {
        text-align: center;
    }

    /*資訊表格*/
    .managerName, .phone, .email, .button
    {
        margin-bottom: 5px;
    }
    
    #newEmail
    {
        width: 85%;
    }
    .addButton
    {
        margin: auto;
        margin-top: 10px;
    }

}
@media (min-width: 800px) 
{
    /*新增評論管理員*/
    #newEmail
    {
        width: calc(80vw - 300px);
    }
    #deletePassword
    {
        width: calc(80vw - 300px);
    }
    .enterEmail
    {
        float: left;
    }

    /*頁面轉換按鈕*/
    .tabs
    {
        width: 50%;
    }

    /*資訊表格*/
    .managerName
    {
        width: 200px;
    }
    .phone
    {
        width: 200px;
    }
    .email
    {
        width: 350px;
    }
    .addButton
    {
        padding: 4px;
        margin-right: 5px;
        float: right;
    }

}
@media (min-width: 1170px)
{
    .managerName, .phone, .email
    {
        margin-top: 4.5px;
        float: left;
    }
    .button
    {
        float: right;
    }
    .agree, .reject, .delete
    {
        padding: 4px;
        margin-right: 10px;
        float:right; 
    }
}
@media (max-width: 1169px)
{
    .agree, .reject, .delete
    {
        padding: 4px;
        margin-right: 5px;
        float: right;
    }
}
#newEmail, #deletePassword
{
    height: 24px;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 5px;
}

.pageTr
{
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#checkPassword
{
    display: none;
    margin-top: 10px;
}