@charset "utf-8";

/* 個人頁面介面 */

/*個人簡介*/
.myselfBackground
{
	 background-color: white;
}
.personal
{
	overflow: auto;
	line-height:20px;	
	background-color: white;
}
.picturePart
{
	margin-top:10px;
}
#profilePicture
{
    margin: 25px 0 0 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/*頁面轉換按鈕*/
.tabs,.tabs li
{
	list-style-type:none;
 	float:left;
}
.tabPartMyself
{
	overflow: auto;
}
.tabs
{
	padding-left: 0;
	margin-bottom: 0;
	font-size: 1.2rem;
}
.tabs li
{
	padding:5px;
	margin-bottom: 4px;
	margin: 2px;
}
.tabs li:hover,#thisPage
{
	color: #05439e;
	border-bottom: 2px solid #A693B4;
	margin: 2px;
	cursor: pointer;
}

/*資訊表格*/
#task,#SR,#SP
{
	background-color: #787f86;
}

#task td, #task th ,#SR td,#SR th,#SP td,#SP th
{
	border: 1px ridge #ddd;
	padding: 10px;
}
#task td, #SR td,#SP td
{
	background-color: #787f86;
	color: white;
}
.bottonTask
{
	border: 2px solid white;
	text-align: center;
	border-radius: 5px;
}
.bottonTask:hover
{
	border: 2px solid #787f86;
	background-color: white;
	color:#787f86;
}
.point
{
	float: left;
}
.bottonTask
{
	float: right;
	cursor: pointer;
	padding: 2px;
	width: 60px;
}


.bodyContainer
{
	margin-top: 50px;
	position: relative;
}

.formPage
{
    margin: auto;
    margin-top: 10px;
    width: 80vw;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.pageButton
{
    margin: auto;
    height: 30px;
    color: black;
    background-color: #ADADC1;
    border-color: white;
    border: 1px solid #DEE2FF;
    padding: 5px;
    cursor: pointer;
}

/*RWD*/
@media (max-width: 399px)
{
	/*寬度*/
	.tabPartMyself,#task,#SP,#SR
	{
		width: 100%;
	}

	/*個人簡介*/
	.picturePart
	{
		width: 40%;
		padding: 10px;
		/*position: relative;
		top: calc(50% - 64px);*/
	}
	#profilePicture
	{
	    width: 150px;
	    height: 150px;
	    border-radius: 50%;
	}
	.introduce
	{
		width: 60%;
		line-height:22px;
		margin-left: 10px;
		margin-top: 10px;
	}
	.title
	{
		font-size: 18px;
		margin-bottom: 2px;
	}
	.text
	{
		font-size: 14px;
	}

	/*頁面轉換按鈕*/
	.tabPartMyself
	{
		margin-bottom: 3px;
		border-bottom: 1.5px solid #736d6d;
	}
}
@media (min-width: 400px)
{
	/*寬度*/
	.tabPartMyself,#task,#SP,#SR
	{
		width: 75%;
		margin: auto;
	}

	/*個人簡介*/
	.personal
	{
		width: 85%;
		margin: auto;
		padding: 8px;
	}
	.picturePart
	{
		width: 20%;
		padding: 10px;
		/*position: relative;
		top: calc(50%+64px);*/
	}
	.introduce
	{
		width: 70%;
		padding-left: 15px;
		line-height:25px;
	}
	.title
	{
		font-size: 20px;
		margin-bottom: 2px;
	}
	.text
	{
		font-size: 16px;
	}

	/*頁面轉換按鈕*/
	.tabs
	{
		margin-top:40px;
		font-size: 1.3rem;
	}
	.tabPartMyself
	{
		margin-bottom: 6px;
		border-bottom: 2px solid #736d6d;
	}
}
@media (min-width: 800px)
{
	#profilePicture
	{
	    margin: 0 50px 0 0;
	    width: 250px;
	    height: 250px;
	    border-radius: 50%;
	}
	.picturePart
	{
		float: left;
		margin-right: 50px;
		width: 250px;
	    height: 250px;
	}
	.introduce
	{
		float: left;
		width: 65%;
		padding-left: 20px;
		line-height:45px;
		padding-top:40px; 
	}
	.title
	{
		font-size: 26px;
		margin-bottom: 2px;
	}
	.text
	{
		font-size: 22px;
	}
}
