@charset "utf-8";

/* User評分介面 */

.ratingDiv
{
    padding: 30px 0;
}

#formTitle
{
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.formColumn
{   
    margin-top: 20px;
}

.formLine
{
    padding-top: 20px;
}
 
 /*評分星等*/

.rating 
{
    font-size: 0;
    display: table;
}

.rating > label 
{
    color: #ddd;
    float: right;
}

.rating > label:before 
{
    padding: 0;
    font-size: 26px;
    line-height: 1em;
    display: inline-block;
    content: "★";
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label 
{
    color: #FFD700;
}

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label 
{
    opacity: 0.5;
}

#rateDescription
{
    background-color: #293F66; 
    color: white;
    border: 1px solid white;
    overflow:auto;
    resize: none;
}

.formButton
{
    width: 80px;
    height: 30px;
    background-color: #293F66;
    color: white;
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
}

.formButton:hover
{
    background-color: #5E86C1;
}

@media (min-width: 500px)
{
    body
    {
        margin-top: 150px;
    }
    .ratingDiv
    {
        width: 500px;
        height: 400px;
        background-color: #293F66;
        color: white;
        margin: auto;
        border-radius: 12px;
    }
    .formLabelDiv
    {
        display: inline-block;
        width: 85px;
        margin-left: 100px;
        text-align: left;
    }

    /*評分星等*/ 

    #rateStar, #commentStar
    {
        width: 400px;
    }
    #rateStar1, #commentStar1
    {
        width: 50px;
        float: left;
    }
    #commentStar2
    {
        margin: auto;
    }
    .rating > label:before 
    {   
        padding: 0 7px;
    }

    /*填寫評論*/

    #rateDescription
    {
        width: 300px;
        height: 50px;
    }
    .formButton
    {
        margin: 10px 210px 0 210px;
        border: 1px solid #5E86C1;
    }
}

@media (min-height: 580px)
{
    .ratingDiv
    {
        margin-top: calc(50vh - 300px);
    }
}

@media (max-width: 499px)
{
    .ratingDiv
    {
        margin-left: 10px;
        border: 0px;
    }
    #rateDescription
    {
        width: 100px;
        height: 100px;
    }
}