@charset "utf-8";

/* User/GM註冊介面 */

.registerDiv
{
    background-color: var(--background-color);
    color: var(--background-text-color);
    border: var(--background-border);
    font-weight: var();    
    padding: 30px 0;
}

#formTitle
{
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.formColumn
{
    margin-top: 20px;
    text-align: center;
}

.formLine
{
    padding-top: 20px;
}

.formText
{
    vertical-align: middle;
    text-align: left;
    height: 30px;
    width: 300px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.formRadios
{
    vertical-align: middle;
    height: 30px;
    border-radius: 5px;
}

.radioText
{
    margin: 0 30px 0 10px;
}

.formButton
{
    margin: 0px 10px;
    width: 80px;
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    border-radius: 3px;
    transition: .5s;
}

.formButton:hover
{
    background-color: var(--button-hover-background-color);
    cursor: pointer;
}

.error
{
    top: 100%;
    padding: 5px 0;
    color: #c62828;
    background-color: rgba(255,0,0,0.1);
    text-align: center;
    font-size: 14px;
    display: none;
}

@media (min-width: 800px)
{
	body
	{
		margin-top: 100px;
	}
    .registerDiv
    {
        margin: auto;
        margin-bottom: 50px;
        width: 500px;   
        border-radius: 12px;
    }
    .formLabelDiv, .formTextDiv
    {
        display: inline-block;
    }
    .formLabelDiv
    {
        width: 85px;
        margin-right: 15px;
        text-align: right;
    }
    .formText
    {
        padding-left: 5px;
    }
    .formRadios
    {
        display: inline-block;
        text-align: left;
        width: 300px;
    }
    .error
    {
        margin: 0 50px 0 150px;
    }
}

@media (min-height: 580px)
{
    .registerDiv
    {
        margin-top: calc(50vh - 300px);
    }
}

@media (max-width: 799px)
{
	body
	{
		height: 100%;
		background-color: var(--background-color);
	}
    .registerDiv
    {
        margin: 50px 0;
        height: 800px;
        border: 0px;
    }
    .formText
    {
    	width: 80%;
        text-align: center;
    }
    .formRadios
    {
        padding-top: 10px;
    }
    .error
    {
        margin: 0 calc(50vw - 150px);
    }
}

@media (max-width: 340px)
{
    .formText
    {
    	width: 90%;
    }
}

@media (max-width: 305px)
{
    .formText
    {
    	width: 98.5%;
    }
}