@charset "utf-8";

/* User設定 */

.settingPhotoDiv
{
    float: left;
}

.photo:hover
{
    opacity: 0.8; 
}

#upload_img
{
    display: none;
}

.uploadButton
{
    margin: 0;
    cursor: pointer;
}

.settingDiv
{
    padding: 20px 0;
}

.formColumn
{   
    margin-top: 20px;
    text-align: center;
}

.formText
{
    height: 30px;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px; 
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.formRadios
{
    height: 30px;
    vertical-align: middle;
    border-radius: 5px;
}

.radioText
{
    margin: 0px 5px;
}

.formSave
{
    display: inline-block;
}

.formButton, .formButton1, .formButton2
{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #293F66;   
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
}

.formButton:hover, .formButton2:hover
{
    background-color: #5E86C1;
}

.error
{
    top: 100%;
    padding: 5px 0;
    color: #c62828;
    background-color: rgba(255,0,0,0.1);
    text-align: center;
    font-size: 14px;
    display: none;
}

@media (min-width: 1000px)
{
    .content
    {
        margin: auto;
        width: 1000px;
        height: 650px;
        color: white;
        background-color: #293F66;        
    }
    .settingDiv
    {
        margin: 100px 10px 10px 200px;
        width: 800px;
        padding: 40px;        
        border-radius: 12px;
    }
    #formTitle
    {
        margin: 10px 0;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
    }
    .photo
    {
        margin: 50px 0 0 70px; 
        width: 200px;
        height: 200px;
        border-radius: 50%;
        cursor: pointer;
    }
    #file
    {
        margin: 10px 0 0 50px;
    }
    #profile
    {
        width: 250px;
        height: 200px;
        color: white;
        background-color: #293F66;        
        resize: none;
    }

    .formLabelDiv, .formTextDiv
    {
        display: inline-block;
    }
    .formLabelDiv
    {
        margin-right: 15px;
        width: 85px;        
        text-align: right;
    }
    .formRadios
    {
        width: 300px;        
        text-align: left;
        display: inline-block;       
    }
    .formText
    {
        width: 300px;
    }
    .formButton
    {
        margin-left: 10px;
    }

    .formButton1
    {
        margin-left: 130px;
    }

    .formButton2
    {
        margin-left: 80px;
    }
    .formButton, .formButton1, .formButton2
    {
        border: 1px solid #5E86C1;
    }
    .formLine1
    {
        margin-right: 95px;
    }
    .formLine, .formLine1
    {
        padding-top: 20px;
    }
    .error
    {
        margin: 0 50px 0 150px;
    }
}

@media (max-width: 999px)
{
    .content
    {
        margin: auto;
        width: 90vw;
        height: 650px;
        color: white;
        background-color: #293F66;        
    }
    .settingDiv
    {
        margin: 5vw 5vw 5vw 0vw;
        width: 90vw;
        padding: 40px;        
        border-radius: 12px;
    }
    #formTitle
    {
        margin: 10px 0;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
    }
    .photo
    {
        margin: 50px 0 0 40px; 
        width: 200px;
        height: 200px;
        border-radius: 50%;
        cursor: pointer;
    }
    #file
    {
        margin: 10px 0 0 30px;
    }
    #profile
    {
        width: 230px;
        height: 200px;
        color: white;
        background-color: #293F66;        
        resize: none;
    }
    .formLabelDiv, .formTextDiv
    {
        display: inline-block;
    }
    .formLabelDiv
    {
        margin-right: 15px;
        width: 85px;        
        text-align: right;
    }
    .formRadios
    {
        width: 20vw;        
        text-align: left;
        display: inline-block;       
    }
    .formText
    {
        width: 20vw;
    }
    .formButton
    {
        margin-left: 10px;
    }

    .formButton1
    {
        margin-left: 100px;
    }

    .formButton2
    {
        margin-left: 70px;
    }
    .formButton, .formButton1, .formButton2
    {
        border: 1px solid #5E86C1;
    }
    .formLine1
    {
        margin-right: 95px;
    }
    .formLine, .formLine1
    {
        padding-top: 20px;
    }
    .error
    {
        margin: 0 50px 0 150px;
    }
}

@media (min-height: 580px)
{
    .settingDiv
    {
        margin-top: calc(50vh - 300px);
    }
}

@media (max-width: 715px)
{
    body
    {
        background-color: #293F66;
    }
    .content
    {
        margin-top: 70px
    }
     #formTitle
    {
        display: none;
    }
    .formPicture
    {
        margin: 0 0 0 25vw;
    }
    .upload
    {
        margin-left: 1vw;
        width: 100%;
    }
     .photo
    {
        width: 170px;
        height: 170px;
        padding: 20px;
    }
    #file
    {
        margin-left: 15vw;
    }
    #profile
    {
        width: 100%;
        height: 100px;
        background-color: #E6E6FA;
        color: black;
    }

    .settingDiv
    {
        margin: 0;
        border: 0px;
    }
    .formText
    {
        width: 250px;
        text-align: center;
    }
    .formRadios
    {
        width: 250px;
        padding-top: 10px;
    }
    .formButton
    {
        margin-left: 10px;
    }

    .formButton1
    {
        margin-left: 85px;
    }

    .formButton2
    {
        margin-left: 22.5vw;
    }
    .formButton, .formButton1, .formButton2
    {
        border: 1px solid #5E86C1;
    }
    .formSave
    {
        margin-top: 10px;
    }
    .formSave1
    {
        margin: 10px 95px 20px 0px;
    }
    .formLine1
    {
        margin-left: 17vw;
    }
    .formLine, .formLine1
    {
        padding-top: 20px;
    }
    .error
    {
        margin: 0 calc(50vw - 150px);
    }
}