@charset "utf-8";

#form
{
    width: 80vw;
    height: 610px;
    margin-top: calc(20vh - 25px);
    margin-left: calc(50vw - 350px);
}

#tabs
{
    width: 400px;
    height: 25px;
}

#detail
{
    padding: 20px;
    height: 100%;
    width: 700px;
    background-color: #c8e7ff;
    border-radius: 10px;
}

#title
{
    margin: 20px 10px 30px;
    font-size: 24px;
    text-align: center;
}

#taskLeft
{
    padding-top: 25px;
    width: 90px;
    height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    word-break: normal;
    overflow: auto;
    border: 1px solid black;
}

#taskCenter
{
    padding: 5px;
    width: 480px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    word-break: normal;
    overflow: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#taskRight
{
    padding-top: 15px;
    width: 90px;
    height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    word-break: normal;
    overflow: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#taskDetailDiv
{
    padding: 20px;
    width: 660px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.taskDetail
{
    margin: 3px 0;
}

.textarea
{
    margin: -20px 0 0 80px;
    padding: 5px;
    width: 540px;
    height: 60px;
    font-size: 14px;
    resize: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid #8093f1;
}

.formPage
{
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.formPageNumber
{
    margin: 0 10px;
}

.button
{
    font-size: 14px;
    background-color: #0c569b;
    color: white;
    border: none;
    border-radius: 5px;
}
.gradeButton
{
    margin: 5px;
    width: 70px;
    height: 25px;
}
.pageButton, .allGradeButton
{
    width: 100px;
    height: 30px;
}