@charset "utf-8";

/* SA/AA更新申請條件 */

.updateDiv
{
    background-color: var(--background-color);
    color: var(--background-text-color);
    border: var(--background-border);
    font-weight: var(--background-font-weight);
    padding: 5px 0;
}

#formTitle
{
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.formLine
{
    width: 100%;
    padding: 10px 0 0 20px;
    display: inline-block;
}

.formLine1, .formLine2, .formLine3, .formLine4, .formLine5
{
    display: inline-block;
    vertical-align: top;
}

/* 輸入申請對象、輸入新類別、輸入新增類別，及輸入金額的框框外觀 */
.formText
{
    width: 454px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.addNew
{
    margin-left: 4.5vw;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.addNew, .cycle
{
    width: 20vw;
    height: 30px;
}

select
{
    width: 78px;
    height: 30px;
}

/* 上傳檔案 */
.uploadFile
{
    cursor: pointer;
}

#applier                 
{
    display: none;
    cursor: pointer;
}

/* 申請類別 */
.quota
{
    border-radius: 5px;
}

.formQuota, .formLabelDiv, .formLevelDiv
{
    cursor: pointer;
}

/* 申請週期及輸入新類別 */
.cycle
{
    margin-left: 17px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;     
}

.formSave
{
    margin-left: 0;
    display: inline-block;
    width: 80px;
    height: 30px;   
    background-color: var(--button-background-color);
    color: var(--button-background-text-color);
    border: var(--button-background-border);
    border-radius: 3px;
    transition: .5s;
}

.formSave:hover
{
    background-color: var(--button-hover-background-color);
}

.formLine1 button
{
    display: inline-block;
}

@media (min-width: 500px)
{
    .updateDiv
    {
        width: 500px;
        height: 650px;       
        margin: auto;
        border-radius: 12px;        
    }
    .formColumn
    {   
        margin: 20px 0 0 30px;
    }
    .formLabelDiv
    {
        display: inline-block;
    }
    #formLabelDiv
    {
        width: 70px;
        margin-left: 15px;
        text-align: right;
    }
    .formCycle
    {
        margin-left: 50px;
        padding: 5px;
    }
    .formText
    {
        width: 250px;
    }
    #oldClassDiv
    {
        margin-left: 85px;
    }
    .addNew
    {
        margin-left: 70px;
        width: 180px;
    }
    #userClass
    {
    	width: 165px;
    }
    .cycle
    {
        width: 350px;
        height: 25px;
    }
    .formQuota
    {
        margin-left: 20px;
    }
    .formLine1 button
    {
        margin-left: 20px;
        display: inline-block;
    }
    .formLine2
    {
    	display: inline-block;
    }
    #formLine2Right
    {
    	margin-left: 140px;
    }
    .formLine4
    {
    	display: inline-block;
    }
    #editButton
	{
		margin-left: 235px;
	}
}

@media (min-height: 580px)
{
    .updateDiv
    {
        margin-top: calc(50vh - 300px);
    }
}

@media (max-width: 499px)
{
	body
	{
		height: 100%;
		background-color: var(--background-color);
	}
    .updateDiv
    {
        margin: 50px 0 0 0;
        padding: 0;
        border: 0px;
    }
    .formColumn
    {   
        margin: 0;
    }
    #formTitleDiv
    {
    	padding: 10px 0;
    }
    .formLine1, #formLine2Right, .formLine4
    {
    	width: 95%;
    }
    #formSaveButton
    {
    	text-align: right;
    }
    .formSave, .formText, #formLine2Left, #userClass
    {
    	width: 100%;
    }
    #formSave1, #formLine2Right, .oldClassDiv, #formDelete, #formAdd, #formSave4
    {
    	margin-top: 1vw;
    }
    .formQuota
    {
        margin-left: 0;
    }
    .cycle
    {
        width: 80vw;
        height: 25px;
    }
    #editButton
    {
    	width: 83vw;
    }
    #errorStatus
    {
    	margin-bottom: 10px;
    }
}

#oldFileDownload
{
    display: none;
}

#addClassDiv
{
    display: none;
}