<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>所有任務</title>
	<link rel="stylesheet" href="alltask.css">
	<link rel="stylesheet" href="css/navbarUser.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	 <header>
            <nav class="nav navbarBack">
                <div class="navbarContainer">
                    <div class="navbarLeft">
                        <div class="dropdown menuIconBack">
                            <a href="#"><div class="menuIcon"></div></a>
                            <ul class="dropdownMenu dropdownMenuLeft">
                                <li class="hiddenLarge">
                                    <a class="point" href="point.html">
                                        <img class="navbarPointImg" alt="Point" src="img/point3.png" />
                                        目前沒有點數
                                    </a>
                                </li>
                                <li><a href="allTask.html">所有任務</a></li>
                                <li><a href="createTask.html">新增任務</a></li>
                                <li><a href="schedule.html">行事曆</a></li>
                                <li><a href="application.html">點數申請</a></li>
                                <li><a href="setting.html">設定</a></li>
                                <li><a href="#">登出</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbarCenter">
                        <a class="navbarBrand" href="homepage.html"> <!--"portal.html":before login-->
                            <img class="navbarBrandImg" id="navbarBrandImg1" alt="TimeBank" src="img/brandWhite.png" />
                            <img class="navbarBrandImg" id="navbarBrandImg2" alt="TimeBank" src="img/brandColor.png" />
                        </a>
                    </div>
                    <div class="navbarRight">
                        <ul class="nav navbarUl">
                            <li class="dropdown">
                                <a href="">通知</a>
                                <ul class="dropdownMenu dropdownMenuRight">
                                    <li><a href="#"><div>First</div></a></li>
                                    <li><a href="#"><div>Second</div></a></li>
                                    <li><a href="#"><div>Third</div></a></li>
                                    <li><a href="#"><div>Fourth</div></a></li>
                                    <li><a href="#"><div>Fifth</div></a></li>
                                    <li><a href="#"><div>Sixth</div></a></li>
                                    <li><a href="#"><div>Seventh</div></a></li>
                                    <li><a href="#"><div>Eighth</div></a></li>
                                    <li><a href="#"><div>Nineth</div></a></li>
                                    <li><a href="#"><div>Tenth</div></a></li>
                                </ul>
                            </li>
                            <li class="hiddenSmall">
                                <a class="point" href="point.html">
                                    <img class="navbarPointImg" alt="Point" src="img/point3.png" />
                                    目前沒有點數
                                </a>
                            </li>
                        </ul>
                        <a class="navbarPortrait" href="personal.html">
                            <img class="navbarPortraitImg" alt="Portrait" src="img/portrait1.jpg" />
                        </a>                           
                    </div>
                </div>
            </nav>
        </header> 
	<div class="bodyContainer">
		<div class="addTaskPart">
			<div class="addTask">
				新增任務
			</div>
		</div>
		<div class=" tabPartMyself">
			<div class="f">
				<ul class="tabsFirst">
					<li class="boss">雇主</li>
					<li class="employee">雇員</li>
				</ul>
			</div>
			<div class="s">
				<ul class="tabsSecond" style="display:block">
					<li class="passed">已發布</li>
					<li class="accepted">已接受</li>
					<li class="record">歷史紀錄</li>
				</ul>
			</div>
			<div class="t" style="display:none">
				<ul class="tabsThird">
					<li class="passed">已通過</li>
					<li class="checking">審核中</li>
					<li class="refused">遭拒絕</li>
					<li class="record">歷史紀錄</li>
				</ul>
			</div>
		</div>
	</div>
	</body>
</html>
