<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>審核中</title>
	<link rel="stylesheet" href="alltask.css">
</head>
<body>
<div class="employeeCheck">
			<table id="eCheck">
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">取消申請</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">取消申請</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">取消申請</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">取消申請</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
			</table>
		</div>	
</body>
</html>