<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>已通過</title>
	<link rel="stylesheet" href="alltask.css">
</head>
<body>

<div class="employeePassed">
			<table id="epass">
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="rightBottom">
		  				<div class="done">完成</div>
		  				<div class="cancel">取消承接</div>
		  				</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="rightBottom">
		  				<div class="done">完成</div>
		  				<div class="cancel">取消承接</div>
		  				</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="rightBottom">
		  				<div class="done">完成</div>
		  				<div class="cancel">取消承接</div>
		  				</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bossName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="rightBottom">
		  				<div class="done">完成</div>
		  				<div class="cancel">取消任務</div>
		  				</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="bosseeName">雇主：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  			</div>
		  		</td></tr>
			</table>
			<div class="choosepage">
				<div class="pre">上一頁</div>
				<div class="next">下一頁</div>
			</div>
		</div>
</body>