<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>歷史紀錄</title>
	<link rel="stylesheet" href="alltask.css">
</head>
	<body>
		<div class="bossRecord">
			<table id="bRecord">
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：公園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskReport">檢舉</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="employeeName">雇員：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：帶狗狗散步，帶小孩去公園玩</div>
		  				</div>
		  				<div class="scorePart">
		  					<div class="bossScorePart">
		  						<div class="bossScore">雇主評分</div>
		  						<div class="bossComment">雇主評論：細心負責</div>
		  					</div>
		  					<div class="employeeScorePart">
		  						<div class="employeeScore">雇員評分</div>
		  						<div class="employeeComment">雇員評論：小孩和寵物都很聽話</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：公園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskReport">檢舉</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="employeeName">雇員：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：帶狗狗散步，帶小孩去公園玩</div>
		  				</div>
		  				<div class="scorePart">
		  					<div class="bossScorePart">
		  						<div class="bossScore">雇主評分</div>
		  						<div class="bossComment">雇主評論：細心負責</div>
		  					</div>
		  					<div class="employeeScorePart">
		  						<div class="employeeScore">雇員評分</div>
		  						<div class="employeeComment">雇員評論：小孩和寵物都很聽話</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：搬重物</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskReport">檢舉</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="employeeName">雇員：steven803</div>
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：幫忙把沙發移到倉庫</div>
		  				</div>
		  				<div class="scorePart">
		  					<div class="bossScorePart">
		  						<div class="bossScore">雇主評分</div>
		  						<div class="bossComment">雇主評論：認真不懈怠</div>
		  					</div>
		  					<div class="employeeScorePart">
		  						<div class="employeeScore">雇員評分</div>
		  						<div class="employeeComment">雇員評論：很累，但雇主有提供茶飲</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
			</table>
			<div class="choosepage">
				<div class="pre">上一頁</div>
				<div class="next">下一頁</div>
			</div>
		</div>
	</body>
</html>