<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>已發布</title>
	<link rel="stylesheet" href="alltask.css">
</head>
<body>
<div class="bossPass">
			<table id="bpass">
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">刪除任務</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  				<div class="application">
		  					<div class="applicationText">
		  						申請之雇員：
		  					</div>
		  					<div class="applicationChoose">
								<div class="choose">
									<input type="radio" name="employee" checked class="ch">tom802
									<br><input type="radio" name="employee" class="ch">damian112
									<br><input type="radio" name="employee" class="ch">ellen1017
									<br><input type="radio" name="employee" class="ch">jason917
									<br><input type="radio" name="employee" class="ch">steven803
								</div>
								<div class="chooseBottom">
									<input type="submit" name="submitBottom" value="選擇">
								</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">刪除任務</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  				<div class="application">
		  					<div class="applicationText">
		  						申請之雇員：
		  					</div>
		  					<div class="applicationChoose">
								<div class="choose">
									<input type="radio" name="employee" checked class="ch">tom802
									<br><input type="radio" name="employee" class="ch">damian112
									<br><input type="radio" name="employee" class="ch">ellen1017
									<br><input type="radio" name="employee" class="ch">jason917
									<br><input type="radio" name="employee" class="ch">steven803
								</div>
								<div class="chooseBottom">
									<input type="submit" name="submitBottom" value="選擇">
								</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">刪除任務</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  				<div class="application">
		  					<div class="applicationText">
		  						申請之雇員：
		  					</div>
		  					<div class="applicationChoose">
								<div class="choose">
									<input type="radio" name="employee" checked class="ch">tom802
								</div>
								<div class="chooseBottom">
									<input type="submit" name="submitBottom" value="選擇">
								</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
		  		<tr><td>
		  			<div class="introduction">
		  				<div class="taskName">任務名稱：整理花園</div>
		  				<div class="taskTime">任務時間：</div>
		  				<div class="taskPoint">任務額度：10點</div>
		  				<div class="taskDelete">刪除任務</div>
		  			</div>
		  			<div class="detailed">
		  				<div class="taskPlaceContext">
		  					<div class="place">任務地點：臺南市安南區工業三路</div>
		  					<div class="context">任務內容：剪修樹枝</div>
		  				</div>
		  				<div class="application">
		  					<div class="applicationText">
		  						申請之雇員：
		  					</div>
		  					<div class="applicationChoose">
								<div class="choose">
									<input type="radio" name="employee" checked class="ch">tom802
									<br><input type="radio" name="employee" class="ch">jason917
									<br><input type="radio" name="employee" class="ch">steven803
								</div>
								<div class="chooseBottom">
									<input type="submit" name="submitBottom" value="選擇">
								</div>
		  					</div>
		  				</div>
		  			</div>
		  		</td></tr>
			</table>
		</div>	
</body>
</html>