<!--GM忘記密碼-->
<!DOCTYPE html>
<html>

	<head>
		<title>忘記密碼</title>

		<meta charset="utf-8">
		
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/forgotPassword.css">
	</head>

	<body>
		<div class="forgotPasswordDiv">
			<div class="formTitleDiv"><h3 id="formTitle">忘記密碼</h3></div>
			<div class="formColumn">
				<form class="forgotPasswordGM" id="forgotPasswordGM" name="forgotPasswrodGM" onsubmit="return forgotPassword()">	
					<div class="formLine">
						<div class="formLabelDiv"><label for="mail">電子郵件</label></div>
						<input type="email" class="formText" id="userEmail" name="userEmail" placeholder="輸入您的電子郵件" />
                        <div id="emailError" class="error">請輸入您的電子郵件</div>
					</div>
					<div class="formLine">
                        <input type="submit" class="formButton" value="送出">
                    </div>
				</form>
			</div>
		</div>	
	</body>

</html>