<!--USER忘記密碼-->
<!DOCTYPE html>
<html>

	<head>
		<title>USER忘記密碼</title>

		<meta charset="utf-8">
		
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/forgetpswAll.css">
	</head>

	<body>
		<header>
            <nav class="nav navbarBack">
                <div class="navbarContainer">
                    <div class="navbarCenter">
                        <a class="navbarBrand" href="homepage.html"><!--"portal.html":before login-->
                            <img class="navbarBrandImg" id="navbarBrandImg1" alt="TimeBank" src="img/brandWhite.png" />
                            <img class="navbarBrandImg" id="navbarBrandImg2" alt="TimeBank" src="img/brandColor.png" />
                        </a>
                    </div>
                </div>
            </nav>
        </header>
		<div class="content">
			<h3>忘記密碼</h3><br>
			<div class="splitColumn">
				<form class="forgetpswUser" action="#" method="post">	
					<label for="mail">請輸入您的電子郵件</label><br><br>
					<input type="text" name="mail" id="mail" placeholder="&example@taipay.tw">
					<br><br>
					<input type="submit" id="sent" value="送出">
					<br>
				</form>
			</div>
		</div>	
	</body>

</html>