<!--SA登入-->
<!DOCTYPE html>
<html>  

  <head>
    <title>SA登入</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/loginSAGM.css">
  </head>

  <body>
    <div class="content">
      <form action="/action_page.php" method="post">
        <h3 class="logIn">登入</h3>
        <div class="container">
          <label for="account"><b>帳號</b></label>
          <input type="text" name="account" id="account" placeholder="請輸入您的帳號">

          <label for="psw"><b>密碼</b></label>
          <input type="password" name="psw" id="psw"  placeholder="請輸入您的密碼">
        
          <input type="submit" id="login" value="登入">
          <span class="psw"><a href="#">忘記密碼?</a></span>
        </div>     
      </form>
    </div>
  </body>
  
</html>
