<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<title>人事管理-系統管理員</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="manage.css">
	
</head>
<body>
	<div class="bodyContainer">
		<div class="addPart">
			<div class="choose">
				<select name="chooseManage">
					<option value="" disabled selected hidden>選擇權限</option>
					<option value="AS">AS</option>
					<option value="AA">AA</option>
					<option value="AU">AU</option>
					<option value="AG">AG</option>
				</select>
			</div>
			<div style="overflow: auto;">
				<div class="idPart">
					<div class="idTitle">帳號</div>
					<div class="addId"><input type="text" name="帳號"></div>
				</div>
				<div class="passwordPart">
					<div class="passwordTitle">預設密碼</div>
					<div class="addPassword"><input type="text" name="密碼"></div>
				</div>
			</div>
			<div class="addBotton">新增</div>
		</div>
		<div class="tableTitle">成員列表</div>
		<div class="tablePart">
			<table id="infoTable">
				<tr><td>
					<div class="authority">權限：AS</div>
					<div class="id">ID：Jason985</div>
					<div class="email">Email：a123456789@gmail.com</div>
					<div class="phone">Phone：0912987654</div>
					<div class="delete">刪除</div>
				</td></tr>
				<tr><td>
					<div class="authority">權限：AS</div>
					<div class="id">ID：Jason985</div>
					<div class="email">Email：a123456789@gmail.com</div>
					<div class="phone">Phone：0912987654</div>
					<div class="delete">刪除</div>
				</td></tr>
				<tr><td>
					<div class="authority">權限：AS</div>
					<div class="id">ID：Jason985</div>
					<div class="email">Email：a123456789@gmail.com</div>
					<div class="phone">Phone：0912987654</div>
					<div class="delete">刪除</div>
				</td></tr>
				<tr><td>
					<div class="authority">權限：AS</div>
					<div class="id">ID：Jason985</div>
					<div class="email">Email：a123456789@gmail.com</div>
					<div class="phone">Phone：0912987654</div>
					<div class="delete">刪除</div>
				</td></tr>
			</table>
		</div>
	</div>
</body>
</html>