<!--SA輸入新密碼-->
<!DOCTYPE html>
<html>

	<head>
		<title>SA輸入新密碼</title>
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/forgetpswAll.css">
	</head>

	<body>
		<header>
            <nav class="nav navbarBack">
                <div class="navbarContainer">
                    <div class="navbarCenter">
                        <a class="navbarBrand" href="homepage.html"><!--"portal.html":before login-->
                            <img class="navbarBrandImg" id="navbarBrandImg1" alt="TimeBank" src="img/brandWhite.png" />
                            <img class="navbarBrandImg" id="navbarBrandImg2" alt="TimeBank" src="img/brandColor.png" />
                        </a>
                    </div>
                </div>
            </nav>
        </header>
		<div class="content">
		<h3>忘記密碼</h3><br>
			<div class="splitColumn">
				<form class="newpswSA" action="#" method="post">	<label for="newpassword">新密碼</label>
					<input type="password" id="newpsw" name="newpsw"  placeholder="請輸入8-20字元(包含數字、大小寫字母及特殊符號)" maxlength="20">
					<br><br>

					<label for="checknewpsw">確認新密碼</label>
					<input type="password" id="checknewpsw" name="checknewpsw"  placeholder="再次輸入新密碼">
					<br><br>

					<input type="submit" id="sent" value="送出">
					<br>
				</form>
			</div>
		</div>	
	</body>

</html>