<!--SA更新申請條件-->
<!DOCTYPE html>
<html>  

  <head>
    <title>updatecondition.html</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/updatecondition.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>

  <body>
    <header>
      <nav class="nav navbarBack">
        <div class="navbarContainer">
          <div class="navbarCenter">
            <a class="navbarBrand" href="homepage.html"><!--"portal.html":before login-->
              <img class="navbarBrandImg" id="navbarBrandImg1" alt="TimeBank" src="img/brandWhite.png" />
              <img class="navbarBrandImg" id="navbarBrandImg2" alt="TimeBank" src="img/brandColor.png" />
            </a>
          </div>
        </div>
      </nav>
    </header>
    <div class="content">
    <h3>設定</h3><br>
      <div class="splitColumn">
        <form class="settingSA" action="#" method="post">
          <label>申請對象:</label>
          <input type="text" id="group" name="group" placeholder="無生活能力之特殊需求族群">
          <br><br>

          <label for="classification">申請類別:</label> 
          <i class='fas fa-minus-circle' id="circle1"></i>         
          <label>輕度</label>
          <i class='fas fa-minus-circle' id="circle2"></i>
          <label>中度</label>
          <i class='fas fa-minus-circle' id="circle3"></i>
          <label>重度</label>
          <i class='fas fa-plus-circle' id="circle4"></i>
          <input type="text" id="newapply" name="apply"  placeholder="輸入新類別">
          <br><br>

          <label>申請條件:</label>
          <label class="upload_condition">
            <input type="file" id="applier" name="applier">
            <i class='fas fa-user-alt' id="useralt"></i>
            <span class="upload_icon">上傳檔案&nbsp➕</span>
          </label>              
          <br>

          <label>申請額度:&nbsp選擇類別▼</label>
          <input type="radio" id="slight" name="classfication" value="slight"> 
          <label for="slight">輕度</label>
          <input type="radio" id="mild" name="classfication" value="mild">
          <label for="mild">中度</label>
          <input type="radio" id="severe" name="classfication" value="severe">
          <label for="severe">重度</label>
          <br><br>

          <label>週期:</label>
          <input type="checkbox" id="ones" name="cycle" value="ones">
          <input type="text" id="Ones" name="cycle" value="Ones" placeholder="輸入金額">
          <br><br>
          <input type="checkbox" id="onemonth" name="cycle" value="onemonth">
          <input type="text" id="oneMonth" name="cycle" value="oneMonth" placeholder="輸入金額">
          <br><br>
          <input type="checkbox" id="threemonth" name="cycle" value="threemonth">
          <input type="text" id="threeMonth" name="cycle" value="threeMonth" placeholder="輸入金額">
          <br><br>
          <input type="checkbox" id="halfyear" name="cycle" value="halfyear">
          <input type="text" id="halfYear" name="cycle" value="halfYear" placeholder="輸入金額">
          <br><br>
          <input type="checkbox" id="year" name="cycle" value="year">
          <input type="text" id="Year" name="cycle" value="Year" placeholder="輸入金額">






        </form>
      </div>  
    </div>  
  </body>
  
</html>
