<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>忘記密碼</title>
    <script type="text/javascript">
        function forgot_password(){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{url_for('test.forgot_password'}}");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({"userMail": document.getElementById('userMail').value}))
            xhr.onload = function(){
                rsp = JSON.parse(xhr.responseText)
                if (rsp.rspCode = "200") {
                    alert("重置信已寄出")
                }
                else{
                    alert("帳號或電子郵件輸入錯誤")
                }
            }
        }
    </script>
</head>
<body>
電子郵件<input type="text" id="userMail" />
<input type="submit" value="送出" onclick="forgot_password();" />
</body>
</html>